<h3 class="tp-head text-center">
	My Details
</h3>
<form class="form-bx my-forms" [formGroup]="profileForm" (ngSubmit)="submitDetails()">
	<input type="file" #myFile class="d-none" (change)="preview(myFile.files)" accept="image/*">
	<div class="usr-img mb-20 cursor-pointer" (click)="myFile.click()">
		<figure class="whiite">
			<img style="height: 80px;width: 80px;border-radius: 50%;" [src]="showImage" alt="">
		</figure>
		<div class="upload">
			<img src="assets/images/upload.png" alt="">
		</div>
	</div>
	<mat-form-field class="example-full-width" appearance="outline">
		<span matPrefix>
			<figure class="input-icon">
				<img src="assets/images/auth/perfered-name.png" alt="">
			</figure>
		</span>
		<input matInput type="text" readonly formControlName="full_name" name="full_name" placeholder="Preferred Name">
		<mat-hint>Full name is non editable.</mat-hint>
		<mat-error *ngIf="profileForm.get('full_name')?.hasError('required')">
			Please enter full name.
		</mat-error>
		<mat-error *ngIf="profileForm.get('full_name')?.hasError('validString')">
			Numbers not accepted.
		</mat-error>
		<mat-error
			*ngIf="!profileForm.get('full_name')?.hasError('validString') && (profileForm.get('full_name')?.hasError('maxlength') || profileForm.get('full_name')?.hasError('minlength')) ">
			Full name has to be between 4 and 30 characters long.
		</mat-error>
	</mat-form-field>


	<mat-form-field class="example-full-width" appearance="outline">
		<span matPrefix>
			<figure class="input-icon">
				<img src="assets/images/auth/a.png" alt="">
			</figure>
		</span>
		<input matInput type="text" formControlName="email" name="email" placeholder="Email" readonly>
		<mat-hint>Email is non editable.</mat-hint>
	</mat-form-field>


	<mat-form-field class="example-full-width" appearance="outline">
		<span matPrefix>
			<figure class="input-icon">
				<img src="assets/images/auth/mob-icon.png" alt="">
			</figure>
		</span>
		<input matInput type="text" formControlName="phone_number" name="phone_number" placeholder="Phone number" readonly>
		<mat-hint>Phone number is non editable.</mat-hint>
	</mat-form-field>

	<div class="btn-outer">
		<div id="create-profile-button" class="border-plus">
			<button class="btn btn-primary">Update</button>
		</div>
	</div>
</form>