<h3 class="tp-head text-center">
	My Details
</h3>
<form class="form-bx my-forms" [formGroup]="profileForm" (ngSubmit)="submitDetails()">
	<div class="usr-img mb-20">
		<input type="file" #myFile class="d-none" (change)="preview(myFile.files)" accept="image/*">
		<figure class="whiite" (click)="myFile.click()">
			<img style="height: 80px;width: 80px;border-radius: 50%;" [src]="showImage" alt="">
		</figure>
		<div class="upload" (click)="myFile.click()">
			<img src="assets/images/upload.png" alt="">
			<input type="file">
		</div>
	</div>
	<mat-form-field class="example-full-width" appearance="outline">
		<span matPrefix>
			<figure class="input-icon">
				<img src="assets/images/auth/perfered-name.png" alt="">
			</figure>
		</span>
		<input matInput type="text" formControlName="full_name" name="full_name" placeholder="Preferred Name">
		<mat-error *ngIf="profileForm.get('full_name')?.hasError('required')">
			Please enter full name.
		</mat-error>
		<mat-error *ngIf="profileForm.get('full_name')?.hasError('maxlength')">
			Full name must be less than 30 charaters.
		</mat-error>
	</mat-form-field>


	<mat-form-field class="example-full-width" appearance="outline">
		<span matPrefix>
			<figure class="input-icon">
				<img src="assets/images/auth/a.png" alt="">
			</figure>
		</span>
		<input matInput type="text" formControlName="email" name="email" placeholder="Email">
	</mat-form-field>


	<mat-form-field class="example-full-width" appearance="outline">
		<span matPrefix>
			<figure class="input-icon">
				<img src="assets/images/auth/mob-icon.png" alt="">
			</figure>
		</span>
		<input matInput type="text" formControlName="phone_number" name="phone_number" placeholder="Phone number">
	</mat-form-field>
	
	<div class="btn-outer">
		<div id="create-profile-button" class="border-plus">
			<button class="btn btn-primary">Update</button>
		</div>
	</div>
</form>