<h3 class="tp-head text-center">
	My Details
</h3>
<div class="form-bx">
	<div class="usr-img mb-20">
		<figure class="whiite">
			<img src="assets/images/auth/usr-img.png" alt="">
		</figure>
		<div class="upload">
			<img src="assets/images/upload.png" alt="">
			<input type="file">
		</div>
	</div>
	<div class="input-bxx pos-rel mt-40">
		<figure class="input-icon">
			<img src="assets/images/auth/perfered-name.png" alt="">
		</figure>
		<mat-form-field class="example-full-width" appearance="fill">
			<input matInput placeholder="Preferred Name">
		</mat-form-field>
	</div>
	<div class="input-bxx">
		<figure class="input-icon">
			<img src="assets/images/auth/a.png" alt="">
		</figure>
		<mat-form-field class="example-full-width" appearance="fill">
			<input matInput placeholder="Email">
		</mat-form-field>
	</div>
	<div class="input-bxx">
		<figure class="input-icon">
			<img src="assets/images/auth/mob-icon.png" alt="">
		</figure>
		<mat-form-field class="example-full-width" appearance="fill">
			<input matInput placeholder="Phone Number">
		</mat-form-field>
	</div>
	<div class="input-bxx">
		<figure class="input-icon">
			<img src="assets/images/auth/perfered-name.png" alt="">
		</figure>
		<mat-form-field class="example-full-width" appearance="fill">
			<input matInput placeholder="Full Name">
		</mat-form-field>
	</div>

	<div class="btn-outer">
		<button class="btn btn-primary">Update</button>
	</div>
</div>