<div class="body_wrapper contn_show_wrap mb-5">
	<div class="conta-iner pt-60">
		<section class="ab-sec">
			<div class="conta_iner">
				<!-- <div class="tab-sec-layout">
					<nav mat-tab-nav-bar class="mb-5">
						<a mat-tab-link [routerLink]="['privacy_policy']" (click)="link = 'privacy_policy'" [active]="link == 'privacy_policy'">Privacy policy
						</a>
						<a mat-tab-link [routerLink]="['about_us']" (click)="link = 'about_us'"
							[active]="link == 'about_us'">About Us
						</a>
						<a mat-tab-link [routerLink]="['terms_conditon']" (click)="link = 'terms_conditon'" [active]="link == 'terms_conditon' || link == 'terms_conditon'">Terms and Conditions 
						</a>
						<a mat-tab-link [routerLink]="['cookies']" (click)="link = 'cookies'" [active]="link == 'cookies' || link == 'cookies'">Cookies Service 
						</a>
                        <a mat-tab-link [routerLink]="['aml_kyc']" (click)="link = 'aml_kml'" [active]="link == 'aml_kml' || link == 'aml_kml'">AML/KYC
						</a>
					</nav>
					<div class=""></div>
				</div> -->


<div class="cms_pgs_mndv">				
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
	<li class="nav-item">
	  <a class="nav-link" [class.active]="link == 'privacy_policy'" data-toggle="tab" href="#privacy" role="tab">Privacy policy</a>
	</li>
	<li class="nav-item">
	  <a class="nav-link" [class.active]="link == 'about_us'" data-toggle="tab" href="#aboutus" role="tab">About Us</a>
	</li>
	<li class="nav-item">
	  <a class="nav-link" [class.active]="link == 'terms_and_condition'" data-toggle="tab" href="#termcondtions" role="tab">Terms and Conditions</a>
	</li>
	<li class="nav-item">
	  <a class="nav-link" [class.active]="link == 'cookie_service'" data-toggle="tab" href="#cookiesrv" role="tab">Cookies Service </a>
	</li>
	<li class="nav-item">
		<a class="nav-link" [class.active]="link == 'aml'" data-toggle="tab" href="#AML_KYC" role="tab">AML/KYC </a>
	  </li>
  </ul>
  
	<!-- Tab panes -->
	<div class="tab-content">
	  <div class="tab-pane" id="privacy" [class.active]="link == 'privacy_policy'" role="privacy">
			<div class="cons_cms_outr">
				<div class="cons_cms_hdmn">
					<h2>Privacy policy</h2>
				</div>
				<div class="cons_cms_mn">
					<div [innerHtml]="cmsData?.privacy_policy"></div>
				</div>
				<!-- <div class="cms_pgs_mndv_lst_updte"><p>Date of latest version: 1 Sept, 2021</p></div>
				<div class="cons_cms_mn">
					<h2>What is Lorem Ipsum?</h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
					<h2>Why do we use it?</h2>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, </p>
					<h2>Where does it come from?</h2>
					<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero</p>
					<ol>
						<li>There are many variations of passages of Lorem Ipsum available</li>
						<li>There are many variations of passages of Lorem Ipsum available</li>
						<li>There are many variations of passages of Lorem Ipsum available</li>
						<li>There are many variations of passages of Lorem Ipsum available</li>
					</ol>
					<h2>Where can I get some?</h2>
					<ul>
						<li>There are many variations of passages of Lorem Ipsum available</li>
						<li>There are many variations of passages of Lorem Ipsum available</li>
						<li>There are many variations of passages of Lorem Ipsum available</li>
						<li>There are many variations of passages of Lorem Ipsum available</li>
						<li>There are many variations of passages of Lorem Ipsum available</li>
					</ul>
				</div> -->
			</div>
	  </div>
	  <div class="tab-pane" id="aboutus" [class.active]="link == 'about_us'" role="aboutus">
		<div class="cons_cms_outr">
			<div class="cons_cms_hdmn">
				<h2>About Us</h2>
			</div>
			<div class="cms_pgs_mndv_lst_updte"><p>Date of latest version: 3 Sept, 2021</p></div>
			<div class="cons_cms_mn">
				<div [innerHtml]="cmsData?.about_us"></div>
				<!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
				<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, </p>
				<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero</p> -->
			</div>
		</div>
	  </div>
	  <div class="tab-pane" id="termcondtions" [class.active]="link == 'terms_and_condition'" role="termcondtions">
		<div class="cons_cms_outr">
			<div class="cons_cms_hdmn">
				<h2>Terms and Conditions</h2>
			</div>
			<div class="cons_cms_mn">
				<div [innerHtml]="cmsData?.terms_conditon"></div>
			</div>
			<!-- <div class="cms_pgs_mndv_lst_updte"><p>Date of latest version: 3 Aug, 2021</p></div>
			<div class="cons_cms_mn">
				<h2>What is Lorem Ipsum?</h2>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
				<h2>Why do we use it?</h2>
				<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, </p>
				<h2>Where does it come from?</h2>
				<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero</p>
				<ol>
					<li>There are many variations of passages of Lorem Ipsum available</li>
					<li>There are many variations of passages of Lorem Ipsum available</li>
					<li>There are many variations of passages of Lorem Ipsum available</li>
					<li>There are many variations of passages of Lorem Ipsum available</li>
				</ol>
				<h2>Where can I get some?</h2>
				<ul>
					<li>There are many variations of passages of Lorem Ipsum available</li>
					<li>There are many variations of passages of Lorem Ipsum available</li>
					<li>There are many variations of passages of Lorem Ipsum available</li>
					<li>There are many variations of passages of Lorem Ipsum available</li>
					<li>There are many variations of passages of Lorem Ipsum available</li>
				</ul>
			</div> -->
		</div>
	  </div>
	  <div class="tab-pane" id="cookiesrv" [class.active]="link == 'cookie_service'" role="cookiesrv">
		<div class="cons_cms_outr">
			<div class="cons_cms_hdmn">
				<h2>Cookies Service</h2>
			</div>
			<div class="cms_pgs_mndv_lst_updte"><p>Date of latest version: 1 Sept, 2021</p></div>
			<div class="cons_cms_mn">
				<h2>What is Lorem Ipsum?</h2>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
				<h2>Why do we use it?</h2>
				<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, </p>
				<h2>Where does it come from?</h2>
				<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero</p>
				<ol>
					<li>There are many variations of passages of Lorem Ipsum available</li>
					<li>There are many variations of passages of Lorem Ipsum available</li>
					<li>There are many variations of passages of Lorem Ipsum available</li>
					<li>There are many variations of passages of Lorem Ipsum available</li>
				</ol>
				<h2>Where can I get some?</h2>
				<ul>
					<li>There are many variations of passages of Lorem Ipsum available</li>
					<li>There are many variations of passages of Lorem Ipsum available</li>
					<li>There are many variations of passages of Lorem Ipsum available</li>
					<li>There are many variations of passages of Lorem Ipsum available</li>
					<li>There are many variations of passages of Lorem Ipsum available</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="tab-pane" id="AML_KYC" [class.active]="link == 'aml'" role="AML_KYC">
		<div class="cons_cms_outr">
			<div class="cons_cms_hdmn">
				<h2>AML/KYC</h2>
			</div>
			<div class="cms_pgs_mndv_lst_updte"><p>Date of latest version: 5 Sept, 2021</p></div>
			<div class="cons_cms_mn">
				<div class="cms_pgs_kmlkyc">
					<ul class="d-flex">
						<li>
							<div class="cms_pgs_kmlkyc_lst">
								<figure><img src="assets/images/aml_newicon.svg" alt="Icon"></figure>
								<div class="cms_pgsbx_innr">
									<h3>AML</h3>
									<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical</p>
								</div>
							</div>
						</li>
						<li>
							<div class="cms_pgs_kmlkyc_lst">
								<figure><img src="assets/images/kyc_newicon.svg" alt="Icon"></figure>
								<div class="cms_pgsbx_innr">
									<h3>KYC</h3>
									<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	</div>
	</div>


			</div>
		</section>
	</div>
</div>

