<div class="auth-main d-flex">
	<div class="auth-img">
		<figure>
			<img src="assets/images/pin-c.png" alt="">
		</figure>
	</div>
	<form [formGroup]="setTransactionForm" class="auth-form my-forms" (ngSubmit)="setupPassword()">
		<div class="d-flex auth-title">
			<h3 class="auth-title__h3">Update Transaction Pin
				<span class="d-block">
					Change your transaction pin
				</span>
			</h3>

		</div>
		<div class="auth-form-bx">
			<mat-form-field class="example-full-width" appearance="outline">
				<input [type]="'password'" formControlName="transaction_pin" name="transaction_pin" matInput
					placeholder="Enter Old Transaction Pin">
				<mat-error *ngIf="setTransactionForm.get('transaction_pin').hasError('required')">Please enter
					old transaction pin.
				</mat-error>
			</mat-form-field>

			<mat-form-field class="example-full-width" appearance="outline">
				<input [type]="'password'" formControlName="new_transaction_pin" name="new_transaction_pin" matInput
					placeholder="Enter New Transaction Pin">
				<mat-error *ngIf="setTransactionForm.get('new_transaction_pin').hasError('required')">Please enter new
					transaction pin.
				</mat-error>
				<mat-error *ngIf="!setTransactionForm.get('new_transaction_pin')?.hasError('removeSpaces') && setTransactionForm.get('new_transaction_pin').hasError('minlength')">Transaction pin
					length should be equal to 4.
				</mat-error>
				<mat-error *ngIf="!setTransactionForm.get('new_transaction_pin')?.hasError('removeSpaces') && setTransactionForm.get('new_transaction_pin').hasError('maxlength')">Transaction pin
					length should be equal to 4.
				</mat-error>
				<mat-error *ngIf="setTransactionForm.get('new_transaction_pin')?.hasError('removeSpaces')">
					Spaces not allowed.
				</mat-error>

			</mat-form-field>

			<mat-form-field class="example-full-width" appearance="outline">
				<input [type]="'password'" formControlName="confirm_transaction_pin" name="confirm_transaction_pin" matInput
					placeholder="Enter Confirm Transaction Pin">
				<mat-error *ngIf="setTransactionForm.get('confirm_transaction_pin').hasError('required')">Please enter
					confirm transaction pin.
				</mat-error>

				<mat-error *ngIf="setTransactionForm.get('confirm_transaction_pin')?.hasError('mustMatch')">
					Confirm transaction pin password does not match with new transaction pin.
				</mat-error>
			</mat-form-field>

			<div class="btn-outer mt-40">
				<div id="setup-tcp-button" class="border-plus">
					<button type="submit" class="btn btn-primary">Update</button>
				</div>
			</div>
		</div>
	</form>
</div>