<div class="auth-main d-flex">
	<div class="auth-img">
		<login-svg-image></login-svg-image>
	</div>
	<div class="auth-form">
		<div class="auth-logo">
			<figure><img src="assets/images/nav-logo.png" alt=""></figure>
		</div>
		<div class="d-flex auth-title">
			<h3 class="auth-title__h3">Log in</h3>
			<p class="auth-link__title" routerLink="/auth/signup">Sign up</p>
		</div>
		<form class="my-forms auth-form-bx" [formGroup]="loginForm">
			<mat-form-field class="example-full-width" appearance="outline">
				<span matPrefix>
					<figure class="input-icon">
						<img src="assets/images/auth/mob-icon.png" alt="">
					</figure>
				</span>
				<ngx-mat-intl-tel-input 
					[onlyCountries]="allowedCountries"  
					[enablePlaceholder]="true"
					[enableSearch]="true" 
					name="full_phone" 
					formControlName="full_phone"
					(countryChanged)="countryChanged($event)" 
					inputPlaceholder="Phone number">
				</ngx-mat-intl-tel-input>
				<mat-error *ngIf="loginForm.get('full_phone').hasError('required')">Please enter phone number.
				</mat-error>
				<mat-error *ngIf="loginForm.get('full_phone').hasError('validatePhoneNumber')">Please enter valid phone
					number.
				</mat-error>
			</mat-form-field>
			<mat-form-field class="example-full-width" appearance="outline">
				<span matPrefix>
					<figure class="input-icon">
						<img src="assets/images/auth/pass-icon.png" alt="">
					</figure>
				</span>
				<input [type]="hide ? 'password' : 'text'" formControlName="password" name="password" matInput
					placeholder="Password">
				<span matSuffix (click)="hide = !hide">
					<figure class="input-icon">
						<img class="pass-hide-show" *ngIf="hide" src="assets/images/auth/pass-show.png" alt="">
						<img class="pass-hide-show" *ngIf="!hide" src="assets/images/auth/pass-hide.png" alt="">
					</figure>
				</span>
				<mat-error *ngIf="loginForm.get('password').hasError('required')">Please enter password.
				</mat-error>
			</mat-form-field>
			<p class="trouble" style="padding-top: 0px;
			margin-top: -10px;" routerLink="/auth/troublelogin">Trouble logging in?</p>
			<div class="btn-outer mt-40">
				<div id="login-button"  class="border-plus">
					<button (click)="loginNow()" class="btn btn-primary">log in</button>
				</div>
			</div>
		</form>
	</div>
</div>