<div class="auth-main d-flex">
	<div class="auth-img">
		<login-svg-image></login-svg-image>
	</div>
	<div class="auth-form">
		<div class="auth-logo">
			<figure><img src="assets/images/nav-logo.png" alt=""></figure>
		</div>
		<div class="d-flex auth-title">
			<h3 class="auth-title__h3">Log in</h3>
			<p class="auth-link__title" routerLink="/auth/signup">Sign up</p>
		</div>
		<form class="auth-form-bx" [formGroup]="loginForm">
			<mat-form-field class="example-full-width" appearance="outline">
				<span matPrefix>
					<figure class="input-icon">
						<img src="assets/images/auth/mob-icon.png" alt="">
					</figure>
				</span>
				<input formControlName="phone" name="phone" matInput placeholder="Phone Number">
				<mat-error *ngIf="loginForm.get('phone').hasError('required')">Please enter email address
				</mat-error>
			</mat-form-field>
			<!-- <div class="input-bxx">
				
			</div> -->
			<!-- <div class="input-group">
				<div class="input-group-prepend">
					<div class="input-group-text">@</div>
				</div>
				<input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Username">
			</div> -->
			<div class="input-bxx mb-0 pos-rel">
				<figure class="input-icon">
					<img src="assets/images/auth/pass-icon.png" alt="">
				</figure>
				<mat-form-field class="example-full-width" appearance="fill">
					<input formControlName="password" type="password" matInput placeholder="Password">
				</mat-form-field>
				<figure class="pass-icon">
					<img src="assets/images/auth/pass-show.png" alt="">
				</figure>
			</div>
			<p class="trouble" routerLink="/auth/troublelogin">Trouble logging in?</p>
			<div class="btn-outer mt-40">
				<button class="btn btn-primary" routerLink="/dashboard">log in</button>
			</div>
		</form>
	</div>
</div>