<div class="auth-main d-flex">
	<div class="auth-img">
		<figure>
			<img src="assets/images/change-email.png" alt="">
		</figure>
	</div>
	<div class="auth-form">
		<mat-horizontal-stepper linear #stepper>
			<mat-step>
				<signup-activate [type]="'verify'" [data]="data" (verified)="OtpVerified($event)"></signup-activate>
			</mat-step>
			<mat-step>
				<div class="d-flex auth-title">
					<h3 class="auth-title__h3">Change Email Address
						<span class="d-block">
							Change your email address by filling below fields
						</span>
					</h3>
				</div>

				<form class="auth-form-bx my-forms" [formGroup]="setEmailForm" (ngSubmit)="setupEmail()">
					<mat-form-field class="example-full-width" appearance="outline">
						<span matPrefix>
							<figure class="input-icon">
								<img src="assets/images/auth/a.png" alt="">
							</figure>
						</span>
						<input type="email" formControlName="new_email" name="new_email" matInput
							placeholder="Enter your new email">
						<mat-error *ngIf="setEmailForm.get('new_email')?.hasError('required')">
							Please enter new email address.
						</mat-error>
						<mat-error
							*ngIf="!setEmailForm.get('new_email')?.hasError('required') && (setEmailForm.get('new_email')?.hasError('email') || setEmailForm.get('new_email')?.hasError('validEmail') || setEmailForm.get('new_email').hasError('removeSpaces'))">
							Please enter valid email address.
						</mat-error>
					</mat-form-field>

					<mat-form-field class="example-full-width" appearance="outline">
						<span matPrefix>
							<figure class="input-icon">
								<img src="assets/images/auth/a.png" alt="">
							</figure>
						</span>
						<input type="email" formControlName="confirm_email" name="confirm_email" matInput
							placeholder="Confirm your new email">
						<mat-error *ngIf="setEmailForm.get('confirm_email')?.hasError('required')">
							Confirm your new email address.
						</mat-error>
						<mat-error *ngIf="setEmailForm.get('confirm_email')?.hasError('mustMatch')">
							Email does not match.
						</mat-error>
					</mat-form-field>
					<div class="btn-outer mt-40">
						<div id="setup-email-form-button" class="border-plus">
							<button type="submit" class="btn btn-primary">Confirm</button>
						</div>
					</div>
				</form>
			</mat-step>
		</mat-horizontal-stepper>
	</div>
</div>