<nav class="navbar navbar-expand-lg">
    <div class="conta-iner">
        <div class="navbar-main d-flex">
            <a *ngIf="this.userInfo" class="navbar-brand" [routerLink]="['/dashboard']">
                <img src="assets/images/nav-logo.png" alt="">
            </a>
            <a *ngIf="!this.userInfo" class="navbar-brand" [routerLink]="['/landingpage']">
                <img src="assets/images/nav-logo.png" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav d-flex">
                    <!-- <li class="nav-item active">
                        <a class="nav-link" routerLink="/about_us">About</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/dashboard/home/rate">Rate</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" routerLink="/features">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/contact_us">Contact Us</a>
                    </li> -->
                    <ng-container *ngIf="_auth.isLoggedIn()">
                        <li class="nav-item">
                            <a class="nav-link" href="#" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">Settings</a>
                            <div class="dropdown">
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" routerLink="/tpc">Change Transaction Pin</a>
                                    <a class="dropdown-item" routerLink="/chanage-password">Change Password</a>
                                    <a class="dropdown-item cursor-pointer" (click)="changeEmail()">Change Email Address</a>
                                    <a class="dropdown-item cursor-pointer" (click)="changePassword()">Change Phone number</a>
                                    <a class="dropdown-item cursor-pointer" (click)="deactivateAccount()">Deactivate Account</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item cursor-pointer">
                            <div class="nav-profile d-flex" routerLink="/dashboard/my-details">
                                <figure>
                                    <img *ngIf="userInfo?.image?.media_file else elseImageNot;" class="h-profile-img" [src]="baseUrl+userInfo?.image?.media_file" alt="{{ userInfo?.first_name }}">
                                    <ng-template #elseImageNot>
                                        <img class="h-profile-img" [src]="'assets/images/hm-feature.png'" alt="{{ userInfo?.first_name }}">
                                    </ng-template>
                                </figure>
                                <div class="usr-name">
                                    <p>{{ userInfo?.first_name }}</p>
                                </div>
                            </div>
                        </li>
                    </ng-container>
                    <ng-container *ngIf="!_auth.isLoggedIn()">
                        <li class="nav-item">
                            <div class="btn-outer">
                                <button class="btn btn-primary" routerLink="/auth">Login/Signup</button>
                            </div>
                        </li>
                    </ng-container>
                </ul>
            </div>
        </div>
    </div>
</nav>