<div class="form-by">
	<div class="input-bxx mb-0 pos-rel">
		<mat-form-field class="example-full-width" appearance="fill">
			<input matInput placeholder="Enter Amount to withdraw">
		</mat-form-field>
	</div>
</div>
<!--  -->
<div class="admin-body pt-20">
	<div class="d-flex pb-20 space-b">
		<h3 class="tp-head">
			Selecet Bank
		</h3>
		<p class="theme-color" routerLink="/dashboard/addbankdetails">Add Bank</p>
	</div>
	<div class="bank-list">
		<div class="bank-card d-flex">
			<div class="l">
				<input type="radio" id="html" name="fav_language" value="HTML">
			</div>
			<div class="r">
				<div class="d-flex ftf">
					<div class="d-flex bank-name mb-10">
						<figure><img src="assets/images/auth/address.png" alt=""></figure>
						Citi Bank
					</div>
					<div class="action-btn d-flex">
						<figure><img src="assets/images/edit.png" alt=""></figure>
						<figure><img src="assets/images/delete.png" alt=""></figure>
					</div>
				</div>

				<div class="bank-account mb-20">
					<p>Account holder name <span>Coinswell Pvt. Ltd.</span></p>
					<p>Account Number <span>1256289898785662</span></p>
				</div>
			</div>
		</div>
	</div>
	<div class="btn-outer m-auto w-100 pt-20">
		<button class="btn btn-primary" routerLink="/dashboard">Submit</button>
	</div>
</div>