<h3 class="tp-head pb-20 text-center">
	Withdraw NGN
</h3>
<form [(formGroup)]="addCashForm" (ngSubmit)="submitDetails()">
	<div class="form-by my-forms">
		<div class="input-bxx mb-0 pos-rel">
			<mat-form-field class="example-full-width" appearance="outline">
                <input currencyMask [options]="{ prefix: '₦ ' }" matInput type="text" min="0.01" formControlName="amount" placeholder="Enter the amount ">
				<span matSuffix>NGN</span>
                <mat-error *ngIf="addCashForm.get('amount')?.hasError('required')">
                    Please enter an amount.
                </mat-error>
                <mat-error *ngIf="addCashForm.get('amount')?.hasError('min')">
                    Amount should be at least 1;
                </mat-error>
            </mat-form-field>
		</div>
	</div>
	<!--  -->
	<div class="admin-body pt-20">
		<div class="d-flex pb-20 space-b">
			<h3 class="tp-head">
				Selecet Bank
			</h3>
			<p class="theme-color cursor-pointer" routerLink="/dashboard/addbankdetails">Add Bank</p>
		</div>
		<div class="bank-list">
			<div class="bank-card d-flex" *ngFor="let bank of bankList; let i = index;">
				<div class="l pt-2">
					<input formControlName="bank" type="radio" id="html" name="bank" value="{{ bank?.id }}">
				</div>
				<div class="r d-flex">
					<div class=" ftf">
						<div class="code-num">
							<input type="text" readonly class="form-control my-input" id="myInput" value="{{ bank?.account_number }}">
						</div>
						<p class="bank_name">{{ bank?.account_holder_name }}</p>
						<div class="d-flex bank-name mb-10">
							<figure><img style="    height: 30px;
								width: 30px;
								object-fit: contain;" src="{{ baseUrl }}{{ bank?.bank_name?.bank_image?.media_file }}" alt="">
							</figure>
							{{ bank?.bank_name?.name }}
						</div>
					</div>

					<div class="action-btn d-flex ml-auto">
						<figure [routerLink]="['/dashboard/editankdetails/'+bank.id]" class="cursor-pointer">
							<img src="assets/images/edit.png" alt="">
						</figure>
						<figure class="cursor-pointer" (click)="deleteBank(i)">
							<img src="assets/images/delete.png" alt="">
						</figure>
					</div>

					 <!-- <div class="d-flex ftf">
						<div class="d-flex bank-name mb-10">
							<figure><img style="height: 25px;
								width: 25px;
								object-fit: cover;" src="{{ baseUrl + bank?.bank_name?.bank_image?.media_file }}" alt=""></figure>
							{{ bank?.bank_name?.name }}
						</div>
						<div class="action-btn d-flex">
							
							<figure [routerLink]="['/dashboard/editankdetails/'+bank.id]" class="cursor-pointer"><img src="assets/images/edit.png" alt=""></figure>

							<figure class="cursor-pointer" (click)="deleteBank(i)"><img src="assets/images/delete.png"
									alt=""></figure>
						</div>
					</div> -->
<!-- 
					<div class="bank-account mb-20">
						<p>Account holder name <span>{{ bank?.account_holder_name }}</span></p>
						<p>Account Number <span>{{ bank?.account_number }}</span></p>
					</div>  -->
				</div>
			</div>
		</div>
		<div class="btn-outer m-auto w-100 pt-20">
			<div id="add-cash-button">
				<button class="btn btn-primary" type="submit">Submit</button>
			</div>
		</div>
	</div>
</form>