<h3 class="tp-head text-center">
	FAQs
</h3>
<div>
	<div class="outer-wrap">
		<section class="faq-section">
			<div class="sec-faq">
				<div class="conta-iner">
					<!-- <h2>Frequently asked Questions</h2> -->
					<div class="panel-group">
						<div class="panel panel-default" *ngFor="let faq of faqList; let i = index;">
							<div class="panel-heading display-icon">
								<a class="collapsed faq_icn" data-toggle="collapse" href="#collapse{{i}}">
									<h4 class="panel-title">{{ faq?.question }}</h4>
									<i class="fa fa-caret-down" aria-hidden="true"></i>
								</a>
							</div>
							<div id="collapse{{i}}" class="panel-collapse collapse">
								<div class="panel-body">{{ faq?.answer }}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>