<h3 class="tp-head text-center">
	FAQ
</h3>
<div>
	<div class="outer-wrap">
		<section class="faq-section">
			<div class="sec-faq">
				<div class="conta-iner">
					<!-- <h2>Frequently asked Questions</h2> -->
					<div class="panel-group">
						<div class="panel panel-default">
							<div class="panel-heading display-icon">
								<a class="collapsed faq_icn" data-toggle="collapse" href="#collapse1">
									<h4 class="panel-title">Question number 01 goes in here?</h4>
									<i class="fa fa-caret-down" aria-hidden="true"></i>
								</a>
							</div>
							<div id="collapse1" class="panel-collapse collapse">
								<div class="panel-body">Lorem ipsum dolor sit amet, consectetur
									adipiscing elit. Ut pretium
									pretium tempor. Ut eget imperdiet neque. In volutpat ante semper
									diam molestie, et
									aliquam erat laoreet.</div>
							</div>
						</div>
						<div class="pane1 panel-default">
							<div class="panel-heading display-icon">
								<a class="collapsed faq_icn" data-toggle="collapse" href="#collapse2">
									<h4 class="panel-title">
										Question number 02 goes in here?
									</h4>
									<i class="fa fa-caret-down" aria-hidden="true"></i>
								</a>
							</div>
							<div id="collapse2" class="panel-collapse collapse">
								<div class="panel-body">Lorem ipsum dolor sit amet, consectetur
									adipiscing elit. Ut pretium
									pretium tempor. Ut eget imperdiet neque. In volutpat ante semper
									diam molestie, et
									aliquam erat laoreet.</div>
							</div>
						</div>
						<div class="pane1 panel-default">
							<div class="panel-heading display-icon">
								<a class="collapsed faq_icn" data-toggle="collapse" href="#collapse3">
									<h4 class="panel-title">
										Question number 03 goes in here?
									</h4>
									<i class="fa fa-caret-down" aria-hidden="true"></i>
								</a>
							</div>
							<div id="collapse3" class="panel-collapse collapse">
								<div class="panel-body">Lorem ipsum dolor sit amet, consectetur
									adipiscing elit. Ut pretium
									pretium tempor. Ut eget imperdiet neque. In volutpat ante semper
									diam molestie, et
									aliquam erat laoreet.</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading display-icon">
								<a class="collapsed faq_icn" data-toggle="collapse" href="#collapse4">
									<h4 class="panel-title">
										Question number 04 goes in here?
									</h4>
									<i class="fa fa-caret-down" aria-hidden="true"></i>
								</a>
							</div>
							<div id="collapse4" class="panel-collapse collapse">
								<div class="panel-body">Lorem ipsum dolor sit amet, consectetur
									adipiscing elit. Ut pretium
									pretium tempor. Ut eget imperdiet neque. In volutpat ante semper
									diam molestie, et
									aliquam erat laoreet.</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading display-icon">
								<a class="collapsed faq_icn" data-toggle="collapse" href="#collapse5">
									<h4 class="panel-title">
										Question number 05 goes in here?
									</h4>
									<i class="fa fa-caret-down" aria-hidden="true"></i>
								</a>
							</div>
							<div id="collapse5" class="panel-collapse collapse">
								<div class="panel-body">Lorem ipsum dolor sit amet, consectetur
									adipiscing elit. Ut pretium
									pretium tempor. Ut eget imperdiet neque. In volutpat ante semper
									diam molestie, et
									aliquam erat laoreet.</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading display-icon">
								<a class="collapsed faq_icn" data-toggle="collapse" href="#collapse6">
									<h4 class="panel-title">
										Question number 06 goes in here?
									</h4>
									<i class="fa fa-caret-down" aria-hidden="true"></i>
								</a>
							</div>
							<div id="collapse6" class="panel-collapse collapse">
								<div class="panel-body">Lorem ipsum dolor sit amet, consectetur
									adipiscing elit. Ut pretium
									pretium tempor. Ut eget imperdiet neque. In volutpat ante semper
									diam molestie, et
									aliquam erat laoreet.</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>