<div class="auth-main d-flex">
	<div class="auth-img">
		<login-svg-image></login-svg-image>
	</div>
	<div class="auth-form authflex-start">
		<div class="auth-logo">
			<figure><img src="assets/images/nav-logo.png" alt=""></figure>
		</div>
		<div class="d-flex auth-title">
			<h3 class="auth-title__h3">Complete your profile
			</h3>
		</div>
		<form [formGroup]="profileForm" (ngSubmit)="submitDetails()" class="auth-form-bx my-forms">
			<input accept="image/*" type="file" style="display: none;" #myFile (change)="preview(myFile.files)">
			<div class="usr-img mb-20" (click)="myFile.click()">
				<figure>
					<img *ngIf="!showImage" src="assets/images/auth/usr-img.png" alt="">
					<img *ngIf="showImage" [src]="showImage" alt="">
				</figure>
				<mat-error *ngIf="profileForm.get('tempImage').touched && profileForm.get('tempImage').hasError('required')" style="font-size: 13px;">
					Please upload profile image.
				</mat-error>
			</div>

			<mat-form-field class="example-full-width" appearance="outline">
				<span matPrefix>
					<figure class="input-icon">
						<img src="assets/images/auth/perfered-name.png" alt="">
					</figure>
				</span>
				<input matInput type="text" formControlName="full_name" name="full_name" placeholder="Preferred Name">
				<mat-error *ngIf="profileForm.get('full_name')?.hasError('required')">
					Please enter full name.
				</mat-error>

				<mat-error *ngIf="profileForm.get('full_name')?.hasError('maxlength')">
					Full name must be less than 30 charaters.
				</mat-error>
			</mat-form-field>

			<ng-container [formGroup]="profileForm.get('bank_details')">
				<mat-form-field class="example-full-width" appearance="outline">
					<span matPrefix>
						<figure class="input-icon">
							<img src="assets/images/auth/address.png" alt="">
						</figure>
					</span>
					<input matInput formControlName="bank_name" name="bank_name" placeholder="Bank Name">
					<mat-error *ngIf="profileForm.get('bank_details').get('bank_name')?.hasError('required')">
						Please enter bank name.
					</mat-error>

					<mat-error *ngIf="profileForm.get('bank_details').get('bank_name')?.hasError('maxlength')">
						Bank name must be less than 30 charaters.
					</mat-error>
				</mat-form-field>

				<mat-form-field class="example-full-width" appearance="outline">
					<span matPrefix>
						<figure class="input-icon">
							<img src="assets/images/auth/address.png" alt="">
						</figure>
					</span>
					<input formControlName="account_number" name="account_number" matInput placeholder="Account number">
					<mat-error *ngIf="profileForm.get('bank_details').get('account_number')?.hasError('required')">
						Please enter account number.
					</mat-error>

					<mat-error *ngIf="profileForm.get('bank_details').get('account_number')?.hasError('maxlength')">
						Account number must be less than 25 charaters.
					</mat-error>

					<mat-error *ngIf="profileForm.get('bank_details').get('account_number')?.hasError('minlength')">
						Account number must be greater than 6 charaters.
					</mat-error>
				</mat-form-field>
				<mat-form-field class="example-full-width" appearance="outline">
					<span matPrefix>
						<figure class="input-icon">
							<img src="assets/images/auth/address.png" alt="">
						</figure>
					</span>
					<input matInput formControlName="confirm_account" name="confirm_account"
						placeholder="Confirm account number">
					<mat-error *ngIf="profileForm.get('bank_details').get('confirm_account')?.hasError('required')">
						Please enter confirm account number.
					</mat-error>

					<mat-error *ngIf="profileForm.get('bank_details').get('confirm_account')?.hasError('mustMatch')">
						Confirm account number does not match with account number.
					</mat-error>

				</mat-form-field>
			</ng-container>
			<div class="note">
				<p class="note-p"><span>Note:</span>Please use your real name, because any name used now can not be
					changed again</p>
			</div>
			<div class="btn-outer mt-40">
				<div id="create-profile-button" class="border-plus">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</div>
		</form>
	</div>
</div>