<div class="form-bx mt-40">
	<div class="acc-upgrade">
		<h3>Setup 2FA (Two-Factor Authentication)</h3>
		<p>Secure your payment and login process.</p>
    </div>   
    <div class="mt-2">
        <section class="example-section">
            Enable
            <mat-slide-toggle [color]="'primary'" class="example-margin" [(ngModel)]="enable2FA">
            </mat-slide-toggle>
        </section>
        <section class="example-section">
            Deposit
            <mat-checkbox  [color]="'primary'" class="example-margin" [(ngModel)]="deposit"></mat-checkbox>
        </section>
        <section class="example-section">
            Withdraw
            <mat-checkbox  [color]="'primary'" class="example-margin" [(ngModel)]="withdraw"></mat-checkbox>
        </section>
    </div>

    <h3 class="tp-head mt-5 pb-20">Instructions</h3>
    <div class="Instructions">
        <p>Please download Authy app to recieve 2FA code on your phone.</p>
    </div>
	<div class="btn-outer m-auto pt-20">
		<div id="submit-documents">
			<button class="btn btn-primary" (click)="goToNext()">Update</button>
		</div>
	</div>
</div>