<div class="form-bx mt-40">
	<div class="acc-upgrade">
		<h3>Setup 2FA (Two-Factor Authentication)</h3>
		<p>Secure your payment and login process.</p>
    </div>   
    <div class="mt-2">
        <section class="example-section" style="font-size: 18px;font-weight: 500;margin-left: 10px;">
            Enable
            <mat-slide-toggle [color]="'primary'" (change)="checkCode(enable2FA)" class="example-margin" [(ngModel)]="enable2FA"></mat-slide-toggle>
        </section>
    </div>
    <ng-container *ngIf="enable2FA">
        <div class="text-center Instructions">
            <div id="barcode" style="margin: auto; width: 150px;">
            </div>
            <p class="mt-2">Scan the QR code from authy or google autheticator app to add the two factor authentication.</p>
        </div>
    </ng-container>
    <div class="Instructions text-center mt-5" *ngIf="!enable2FA">
        <p>Enable the toggle to add two factor authentication.</p>
    </div>
</div>