<div class="dashboard-table table-responsive">
	<table>
		<thead>
			<tr>
				<th>Currency</th>
				<th>We Buy</th>
				<th>We Sell</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let rate of rates">
				<td>
					<div class="cu-main">
						<figure>
							<img style="height: 25px;
							width: 25px;
							object-fit: contain;
						" [src]="imageUrl+rate?.logo?.media_file">
						</figure>
						<p>{{ rate?.name }}</p>
					</div>
				</td>
				<td>{{ rate?.buy_rate | number }}</td>
				<td>{{ rate?.sell_rate | number }}</td>
			</tr>
		</tbody>
	</table>
	<h3 style="font-size: 20px; color: #404040; margin-bottom: 9px;" class="tp-head mt-5"> Note </h3>
	<div style="font-size: 15px; color: #999999;" class="Instructions" [innerHtml]="cms?.rate_instructions"></div>
</div>