<div class="dp-top-main">
	<div class="dp-top">
		<div class="wallet-main">
			<div class="wallet-left">
				<figure>
					<img src="assets/images/wallet (1).svg">
				</figure>
			</div>
			<div class="aviable-bal d-flex pt-20">
				<div>
					<h3>NGN Balance <span>
							$1000
						</span></h3>
				</div>
				<div>
					<h3> Crypto Balance <span>
							$10000
						</span></h3>
				</div>


			</div>
		</div>
	</div>
</div>
<div class="dashboard-table table-responsive">
	<table>
		<thead>
			<tr>
				<th>Currency</th>
				<th>We Buy</th>
				<th>We Sell</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<div class="cu-main">
						<figure>
							<img src="assets/images/auth/Group 185015.png">
						</figure>
						<p>BTC/Bitcoin</p>
					</div>
				</td>
				<td>$520.50</td>
				<td>$520.50</td>
			</tr>
			<tr>
				<td>
					<div class="cu-main">
						<figure>
							<img src="assets/images/auth/Group 185015.png">
						</figure>
						<p>BTC/Bitcoin</p>
					</div>
				</td>
				<td>$520.50</td>
				<td>$520.50</td>
			</tr>
			<tr>
				<td>
					<div class="cu-main">
						<figure>
							<img src="assets/images/auth/Group 185015.png">
						</figure>
						<p>BTC/Bitcoin</p>
					</div>
				</td>
				<td>$520.50</td>
				<td>$520.50</td>
			</tr>
			<tr>
				<td>
					<div class="cu-main">
						<figure>
							<img src="assets/images/auth/Group 185015.png">
						</figure>
						<p>BTC/Bitcoin</p>
					</div>
				</td>
				<td>$520.50</td>
				<td>$520.50</td>
			</tr>
		</tbody>
	</table>
</div>