<div class="d-flex auth-title">
	<h3 class="auth-title__h3">Setup your password
		<span class="d-block">
			Set your new password to access your account
		</span>
	</h3>
</div>
<form [formGroup]="setPasswordForm" class="auth-form-bx my-forms" (ngSubmit)="setupPassword()">
	<mat-form-field class="example-full-width" appearance="outline">
		<span matPrefix>
			<figure class="input-icon">
				<img src="assets/images/auth/pass-icon.png" alt="">
			</figure>
		</span>
		<input [type]="hide ? 'password' : 'text'" formControlName="password" name="password" matInput
			placeholder="Password">
		<span matSuffix (click)="hide = !hide">
			<figure class="input-icon">
				<img *ngIf="hide" src="assets/images/auth/pass-show.png" alt="">
				<img *ngIf="!hide" src="assets/images/auth/pass-show.png" alt="">
			</figure>
		</span>
		<mat-error *ngIf="setPasswordForm.get('password').hasError('required')">Please enter password.
		</mat-error>

		<mat-error
			*ngIf="!setPasswordForm.get('password')?.hasError('removeSpaces') && setPasswordForm.get('password')?.hasError('minlength')">
			Password must be at least 8 characters long.
		</mat-error>
		<mat-error
			*ngIf="!setPasswordForm.get('password')?.hasError('removeSpaces') && setPasswordForm.get('password')?.hasError('maxlength')">
			Password is too long (Max 16 characters allowed).
		</mat-error>
		<mat-error *ngIf="setPasswordForm.get('password')?.hasError('removeSpaces')">
			Spaces not allowed.
		</mat-error>
	</mat-form-field>
	<mat-form-field class="example-full-width" appearance="outline">
		<span matPrefix>
			<figure class="input-icon">
				<img src="assets/images/auth/pass-icon.png" alt="">
			</figure>
		</span>
		<input [type]="'password'" formControlName="confirm_password" name="confirm_password" matInput
			placeholder="Confirm Password">
		<mat-error *ngIf="setPasswordForm.get('confirm_password').hasError('required')">Please enter confirm password.
		</mat-error>

		<mat-error *ngIf="setPasswordForm.get('confirm_password')?.hasError('mustMatch')">
			Confirm password does not match with password.
		</mat-error>

	</mat-form-field>
	<div class="btn-outer mt-40">
		<div id="setup-password-button" class="border-plus">
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
	</div>
</form>