<div class="wd-body mt-40">
    <h3 class="tp-head pb-20">
        Select currency
    </h3>
    <ul>
        <div class="w-100">
            <mat-form-field class="w-100" appearance="fill">
                <mat-select #mySelect (selectionChange)="onChanged($event)" placeholder="Select Currency">
                    <mat-option value="ngn" *ngIf="link != 'deposit_crypto'">
                        NGN
                    </mat-option>
                    <mat-option *ngFor="let withdraw of withdrawRequests" [value]="withdraw?.currency?.id">
                        {{ withdraw?.currency?.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <!-- <li *ngFor="let withdraw of withdrawRequests" routerLink="/dashboard/depositcrypto/{{ withdraw?.currency?.id }}">
            <div class="wb-box">
                <figure>
                    <img style="height: 70px;
                    width: 70px;
                    object-fit: cover;" src="{{ baseUrl + withdraw?.currency?.logo?.media_file }}">
                </figure>
                <h5>{{ withdraw?.currency?.name }}</h5>
                <p *ngIf="withdraw?.currency?.id == 1 || withdraw?.currency?.id == 2">Balance</p>
                <div class="d-flex bal-body" *ngIf="withdraw?.currency?.id == 1 || withdraw?.currency?.id == 2">
                    <div class="bal">
                        {{ (withdraw?.balance)?(withdraw?.balance | number : '0.2-2'): '0.00' }}
                    </div>
                    <div class="live plus" *ngIf="withdraw?.currency?.percentage_change>0">
                        <div class="text d-flex">
                            <figure>
                                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="5" viewBox="0 0 6 5">
                                    <path id="Polygon_2" data-name="Polygon 2" d="M3,0,6,5H0Z" fill="#88e57e" />
                                </svg>
                            </figure>
                            {{ withdraw?.currency?.percentage_change | number : '0.2-2' }}%
                        </div>
                    </div>

                    <div class="live minus" *ngIf="withdraw?.currency?.percentage_change<0">
                        <div class="text d-flex">
                            <figure>
                                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="5" viewBox="0 0 6 5">
                                    <path id="Polygon_2" data-name="Polygon 2" d="M3,0,6,5H0Z" fill="#88e57e" />
                                </svg>
                            </figure>
                            {{ withdraw?.currency?.percentage_change | number : '0.2-2' }}%
                        </div>
                    </div>
                </div>
            </div>
        </li> -->
    </ul>
</div>