<nav class="navbar navbar-expand-lg">
    <div class="conta-iner">
        <div class="navbar-main d-flex">
            <a class="navbar-brand" href="#">
                <img src="assets/images/nav-logo.png" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav d-flex">
                <li class="nav-item active">
                  <a class="nav-link" routerLink="/pages/aboutus" >About</a>
                </li> 
                <li class="nav-item active">
                  <a class="nav-link" routerLink="/pages/rate" >Rate</a>
                </li> 
                <li class="nav-item">
                  <a class="nav-link" href="#">Features</a>
                </li>
             
                <li class="nav-item">
                  <a class="nav-link" href="#">Contact Us</a>
                </li>
                <li class="nav-item">
              <div class="btn-outer">
                  <button class="btn btn-primary" routerLink="/auth/login">Login/Signup</button>
              </div>
                  </li>
              </ul>
           
            </div>
        </div>
    </div>
 
  </nav>