<div class="dp-top-main">
    <div class="dp-top">
        <div class="wallet-main">
            <div class="wallet-left">
                <figure>
                    <img src="assets/images/auth/wallet.png">
                </figure>
            </div>
        </div>
        <div class="aviable-bal d-flex pt-20">
            <div>
                <h3>NGN Balance
                    <span>
                        ₦{{ balance?.amount | number:'0.2' }}
                    </span>
                </h3>
            </div>
            <div>
                <h3>Crypto Balance
                    <span>
                        ${{ 10000 | number:'0.2' }}
                    </span>
                </h3>
            </div>
        </div>
    </div>
    <div class="cash-main">
        <ul>
            <li class="cursor-pointer" routerLink="/dashboard/home/payment/deposit">
                <figure>
                    <img src="assets/images/plus.svg">
                </figure>
                <p>Add Cash</p>
            </li>
            <li class="cursor-pointer" routerLink="/dashboard/home/withdrawcryto">
                <figure>
                    <img src="assets/images/plus.svg">
                </figure>
                <p>Add Crypto</p>
            </li>
        </ul>
    </div>
</div>
<router-outlet></router-outlet>