<div class="trans-page" id="fetch-transaction-list">
	<div class="conta-iner">
		<h2 style="display: flex;align-items: center;
		justify-content: space-between;font-weight: 100;">My Transactions
			<span class="cursor-pointer" (click)="downloadAll()" style="color: #4ac2ec;
			font-size: 20px;display: flex;align-items: center;">
				<svg
				width="18"
				style="margin-right: 10px;"
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 11 11"
				id="vector">
					<path
						id="path"
						d="M 10.876 7.418 L 10.876 9.724 C 10.876 10.03 10.754 10.323 10.538 10.539 C 10.322 10.755 10.029 10.877 9.723 10.877 L 1.653 10.877 C 1.347 10.877 1.054 10.755 0.838 10.539 C 0.622 10.323 0.5 10.03 0.5 9.724 L 0.5 7.418"
						fill="#00000000"
						stroke="#17c2ec"
						stroke-width="1"
						stroke-linecap="round"
						stroke-linejoin="round"/>
					<path
						id="path_1"
						d="M 2.806 4.535 L 5.688 7.417 L 8.571 4.535"
						fill="#00000000"
						stroke="#17c2ec"
						stroke-width="1"
						stroke-linecap="round"
						stroke-linejoin="round"/>
					<path
						id="path_2"
						d="M 5.688 7.418 L 5.688 0.5"
						fill="#00000000"
						stroke="#17c2ec"
						stroke-width="1"
						stroke-linecap="round"
						stroke-linejoin="round"/>
				</svg>
				Download
			</span>
		</h2>
		<ng-container *ngIf="transactionList.length > 0; else noDataFound">
			<ul>
				<li class="cursor-pointer" *ngFor="let tran of transactionList" routerLink="/dashboard/transactions-details/{{ tran?.id }}">
					<div class="ts-main">
						<div class="ts-left">
							<div class="tsl-main">
								<div class="tsl-left">
									<figure>
										<img *ngIf="tran?.currency?.logo?.media_file" style="height: 60px; width: 60px; object-fit: contain;" src="{{ baseUrl + tran?.currency?.logo?.media_file }}">
										<img *ngIf="!tran?.currency?.logo?.media_file" style="height: 60px; width: 60px; object-fit: contain;" src="assets/images/ngn-currency.png">
									</figure>
								</div>
								<div class="tsl-right">
									<p>{{ tran?.id}}</p>
									<h5>{{ tran?.currency.name }}</h5>
									<p>{{ tran?.bank?.bank_name?.name }}</p>
								</div>
							</div>
						</div>
						<div class="ts-right">
							<h5 [class.text-success]="tran?.transaction_status == 'Accept'" [class.text-danger]="tran?.transaction_status == 'Reject'" [class.text-warning]="tran?.transaction_status == 'Pending'">{{ tran?.transaction_status }}</h5>
							<div class="success-midle-main">
								<h4>
									<i [class.text-success]="tran?.transaction_status == 'Accept'" [class.text-danger]="tran?.transaction_status == 'Reject'" [class.text-warning]="tran?.transaction_status == 'Pending'" class="fa fa-caret-down" aria-hidden="true"></i><span [class.text-success]="tran?.transaction_status == 'Accept'" [class.text-danger]="tran?.transaction_status == 'Reject'" [class.text-warning]="tran?.transaction_status == 'Pending'">0.20%
									</span>({{ tran?.amount | number }})
								</h4>
								<a>{{ tran?.type_of_transaction }}</a>
							</div>
							<p>{{ tran?.created_at | date  : 'medium' }}</p>
						</div>
					</div>
				</li>
			</ul>
			<mat-paginator [length]="length"
				(page)="onPageChange($event)"
				[pageSize]="limit"
				aria-label="Select page">
			</mat-paginator>
		</ng-container>
		<ng-template #noDataFound>
			<p style="text-align: center;
			FONT-SIZE: 16px;
			padding-top: 50px;">No transactions yet.</p>
		</ng-template>
	</div>
</div>