<h3 class="tp-head pb-20 text-center">
	# {{transactionDetails?.order_id }}
</h3>
<div class="bx-x">
	<div class="biticon-bg">
		<figure>
			<img *ngIf="transactionDetails?.currency?.logo?.media_file" style="    height: 50px;
			width: 50px;
			object-fit: contain;" src="{{ baseUrl + transactionDetails?.currency?.logo?.media_file }}" alt="">
			<img *ngIf="!transactionDetails?.currency?.logo?.media_file" style="    height: 50px;
			width: 50px;
			object-fit: contain;" src="assets/images/ngn-currency.png" alt="">
		</figure>
		{{ transactionDetails?.currency?.name }}
	</div>
	<ul>
		<li>Transaction Type <span>{{ transactionDetails?.type_of_transaction }}</span></li>
		<li>Date <span>{{ transactionDetails?.created_at | date  : 'medium' }}</span></li>


		<li *ngIf="transactionDetails?.currency?.id == 5 && (transactionDetails?.type_of_transaction =='Withdraw' || transactionDetails?.type_of_transaction =='Deposit')">Amount <span>{{ ((transactionDetails?.ngnamount)?transactionDetails?.ngnamount:0) | number : '0.2-10' }} NGN</span></li>


		<li *ngIf="transactionDetails?.currency?.id != 5 && (transactionDetails?.type_of_transaction =='Withdraw')">Amount <span>{{ ((transactionDetails?.bitamount)?transactionDetails?.bitamount:0) | number  : '0.2-10' 	}} {{ transactionDetails?.currency?.name }}</span></li>

		<li *ngIf="transactionDetails?.currency?.id != 5 && (transactionDetails?.type_of_transaction =='Withdraw')">Amount USD <span>{{ ((transactionDetails?.amount)?transactionDetails?.amount:0) | number : '0.2-10'}} USD</span></li>

		

		<li *ngIf="transactionDetails?.currency?.id == 1 && (transactionDetails?.type_of_transaction =='Sell' || transactionDetails?.type_of_transaction =='Buy')">Amount <span>{{ ((transactionDetails?.amount)?transactionDetails?.amount:0) | number }} USD </span></li>

		<li *ngIf="transactionDetails?.currency?.id == 1 && (transactionDetails?.type_of_transaction =='Sell' || transactionDetails?.type_of_transaction =='Buy')">Amount BTC <span>{{ ((transactionDetails?.bitamount)?transactionDetails?.bitamount:0) | number }} BTC</span></li>

		<li *ngIf="transactionDetails?.currency?.id == 1 && (transactionDetails?.type_of_transaction =='Sell' || transactionDetails?.type_of_transaction =='Buy')">Amount NGN <span> ( {{ ((transactionDetails?.ngnamount)?transactionDetails?.ngnamount:0) | number }} NGN</span></li>


		<li *ngIf="transactionDetails?.currency?.id != 1 && (transactionDetails?.type_of_transaction =='Sell' || transactionDetails?.type_of_transaction =='Buy')">Amount <span>{{ ((transactionDetails?.amount)?transactionDetails?.amount:0) | number : '0.2-10' }} USD
		</span></li>

		<li *ngIf="transactionDetails?.currency?.id != 1 && (transactionDetails?.type_of_transaction =='Sell' || transactionDetails?.type_of_transaction =='Buy')">NGN Amount <span>{{ ((transactionDetails?.ngnamount)?transactionDetails?.ngnamount:0) | number : '0.2-10' }} NGN
		</span></li>

		<!-- Bank Account -->
		<li *ngIf="transactionDetails?.currency?.id == 5 && (transactionDetails?.type_of_transaction =='Withdraw')">Bank <span>{{ transactionDetails?.bank?.bank_name?.name }}</span></li>

		<li *ngIf="transactionDetails?.currency?.id == 5 && (transactionDetails?.type_of_transaction =='Withdraw')">Account Number <span>{{ transactionDetails?.bank?.account_number }}</span></li>


		
		<li *ngIf="[1,2,3,4,6,7,8,9].indexOf(transactionDetails?.currency?.id) != -1 && (transactionDetails?.type_of_transaction =='Withdraw')">Sending Wallet <span>{{ transactionDetails?.to_wallet || 'N/A' }}</span></li>

		<li *ngIf="[3,4].indexOf(transactionDetails?.currency?.id) != -1 && (transactionDetails?.type_of_transaction =='Buy')">Wallet <span>{{ transactionDetails?.to_wallet || 'N/A' }}</span></li>

		<li *ngIf="[1,2,3,4,6,7,8,9].indexOf(transactionDetails?.currency?.id) != -1 && (transactionDetails?.type_of_transaction =='Withdraw')">Receiving Wallet <span>{{ transactionDetails?.from_wallet || 'N/A' }}</span></li>

		<li *ngIf="[1,2,3,4,6,7,8,9].indexOf(transactionDetails?.currency?.id) != -1 && (transactionDetails?.type_of_transaction =='Withdraw')">Fee <span>{{ transactionDetails?.fee }}</span></li>

		<li *ngIf="[1,2,3,4,6,7,8,9].indexOf(transactionDetails?.currency?.id) != -1 && (transactionDetails?.type_of_transaction =='Withdraw')">Confirmation <span class="badge badge-success text-white">5 Confirmations</span></li>

		<li *ngIf="[1,2,3,4,6,7,8,9].indexOf(transactionDetails?.currency?.id) != -1 && (transactionDetails?.type_of_transaction =='Withdraw')">Transaction ID <span>{{ 'BTC56456456456GJH' }}</span></li>
		<li>Transaction Status <span class="green" [class.text-success]="transactionDetails?.transaction_status == 'Completed'" [class.text-danger]="transactionDetails?.transaction_status == 'Rejected'" [class.text-warning]="transactionDetails?.transaction_status == 'In Progress'">{{ transactionDetails?.transaction_status }}</span></li>
		<li>Order ID <span>{{transactionDetails?.order_id }}</span></li> 
	</ul>
</div>