<h3 class="tp-head pb-20 text-center">
	# {{transactionDetails?.id }}
</h3>
<div class="bx-x">
	<div class="biticon-bg">
		<figure>
			<img style="    height: 50px;
			width: 50px;
			object-fit: contain;" src="{{ baseUrl + transactionDetails?.currency?.logo?.media_file }}" alt="">
		</figure>
		BTC/Bitcoin
	</div>
	<ul>
		<li>Transaction Type <span>{{ transactionDetails?.type_of_transaction }}</span></li>
		<li>Date <span>{{ transactionDetails?.created_at | date  : 'medium' }}</span></li>
		<li>Amount <span>USD {{ transactionDetails?.amount }} BTC</span></li>
		<li>Transaction Status <span class="green" [class.text-success]="transactionDetails?.transaction_status == 'Accept'" [class.text-danger]="transactionDetails?.transaction_status == 'Reject'" [class.text-warning]="transactionDetails?.transaction_status == 'Pending'">{{ transactionDetails?.transaction_status }}</span></li>
		<li>Transaction ID/Hash ID <span>{{transactionDetails?.id }}</span></li>
	</ul>
</div>