<h3 class="tp-head pb-20 text-center">
	1299828
	<span class="success-flex">Success</span>
</h3>
<div class="bx-x">
	<div class="biticon-bg">
		<figure>
			<img src="assets/images/bg-bit.png" alt="">
		</figure>
		BTC/Bitcoin
	</div>
	<ul>
		<li>Type of Transaction <span>Sell</span></li>
		<li>Date <span>June 23, 2021</span></li>
		<li>Time <span>8:20 PM</span></li>
		<li>Total Amount <span>USD 5000/ 5 BTC</span></li>
		<li>Transaction Status <span class="green">Success</span></li>
		<li>Transaction No. <span>U1299828</span></li>
	</ul>
</div>