<div class="auth-main d-flex">
	<div class="auth-img">
		<figure>
			<img src="assets/images/change-password.png" alt="">
		</figure>
	</div>
	<div class="auth-form">
		<!-- <div class="auth-logo">
        <figure><img src="assets/images/nav-logo.png" alt=""></figure>
    </div> -->
		<div class="d-flex auth-title">
			<h3 class="auth-title__h3">Change Password
				<span class="d-block">
					Change your password by filling below details
				</span>
			</h3>

		</div>
		<form [formGroup]="setPasswordForm" class="auth-form-bx my-forms" (ngSubmit)="setupPassword()">
			<mat-form-field class="example-full-width" appearance="outline">
				<span matPrefix>
					<figure class="input-icon">
						<img src="assets/images/auth/pass-icon.png" alt="">
					</figure>
				</span>
				<input [type]="hide ? 'password' : 'text'" formControlName="current_password" name="current_password"
					matInput placeholder="Current Password">
				<span matSuffix (click)="hide = !hide">
					<figure class="input-icon">
						<img class="pass-hide-show" *ngIf="hide" src="assets/images/auth/pass-show.png" alt="">
						<img class="pass-hide-show" *ngIf="!hide" src="assets/images/auth/pass-hide.png" alt="">
					</figure>
				</span>

				<mat-error *ngIf="setPasswordForm.get('current_password').hasError('required')">Please enter current
					password.
				</mat-error>
			</mat-form-field>
			<mat-form-field class="example-full-width" appearance="outline">
				<span matPrefix>
					<figure class="input-icon">
						<img src="assets/images/auth/pass-icon.png" alt="">
					</figure>
				</span>
				<input [type]="hide2 ? 'password' : 'text'" formControlName="new_password" name="new_password" matInput
					placeholder="New password">
				<span matSuffix (click)="hide2 = !hide2">
					<figure class="input-icon">
						<img class="pass-hide-show" *ngIf="hide2" src="assets/images/auth/pass-show.png" alt="">
						<img class="pass-hide-show" *ngIf="!hide2" src="assets/images/auth/pass-hide.png" alt="">
					</figure>
				</span>
				<mat-error *ngIf="showErrors(setPasswordForm.get('new_password')) == 'required'">Please enter password.
				</mat-error>

				<mat-error *ngIf="showErrors(setPasswordForm.get('new_password')) == 'minlength' || showErrors(setPasswordForm.get('new_password')) == 'uperCase' || showErrors(setPasswordForm.get('new_password')) == 'lowerCase' || showErrors(setPasswordForm.get('new_password')) == 'specialChar' || showErrors(setPasswordForm.get('new_password')) == 'oneDigit'">Password must containing atleast one upper case, one special character, one numeric and must be of atleast 8 characters.
				</mat-error>

				<!-- <mat-error *ngIf="showErrors(setPasswordForm.get('new_password')) == 'maxlength'">Password is too long
					(Max 16 characters allowed).
				</mat-error> -->

				<mat-error *ngIf="showErrors(setPasswordForm.get('new_password')) == 'removeSpaces'">Spaces not allowed.
				</mat-error>

				<!-- <mat-error *ngIf="showErrors(setPasswordForm.get('new_password')) == 'uperCase'">Password must contain
					at least one uppercase letter (A-Z).
				</mat-error>

				<mat-error *ngIf="showErrors(setPasswordForm.get('new_password')) == 'lowerCase'">Password must contain
					at least one lowercase letter (a-z).
				</mat-error>

				<mat-error *ngIf="showErrors(setPasswordForm.get('new_password')) == 'specialChar'">Password must
					contain at least one special character (@,&,#).
				</mat-error>

				<mat-error *ngIf="showErrors(setPasswordForm.get('new_password')) == 'oneDigit'">Password must
					contain at least one digit (0-9).
				</mat-error> -->
			</mat-form-field>
			<mat-form-field class="example-full-width" appearance="outline">
				<span matPrefix>
					<figure class="input-icon">
						<img src="assets/images/auth/pass-icon.png" alt="">
					</figure>
				</span>
				<input [type]="hide3 ? 'password' : 'text'" formControlName="confirm_password" name="confirm_password"
					matInput placeholder="Confirm Password">

				<span matSuffix (click)="hide3 = !hide3">
					<figure class="input-icon">
						<img class="pass-hide-show" *ngIf="hide3" src="assets/images/auth/pass-show.png" alt="">
						<img class="pass-hide-show" *ngIf="!hide3" src="assets/images/auth/pass-hide.png" alt="">
					</figure>
				</span>

				<mat-error *ngIf="setPasswordForm.get('confirm_password').hasError('required')">Please enter confirm
					password.
				</mat-error>

				<mat-error *ngIf="setPasswordForm.get('confirm_password')?.hasError('mustMatch')">
					Confirm password does not match with new password.
				</mat-error>

			</mat-form-field>
			<div class="btn-outer mt-40">
				<div id="setup-password-button" class="border-plus">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</div>
		</form>
	</div>
</div>