<div class="auth-main d-flex">
    <div class="auth-img">
<figure>
    <img src="assets/images/auth/support.png" alt="">
</figure>
      
    </div>
    <div class="auth-form">
   
       <div class="d-flex auth-title">
         <h3 class="auth-title__h3">Start a conversation
         </h3>
         <!-- <p class="auth-link__title" (click)=" signup()">Sign up</p> -->
       </div>
       <div class="auth-form-bx">
           <div class="chat-bx">
            <div class="chat-messagebx">
                <div class="you-mess">
                    <p>The topics you choose will help us suggest the courses suitable to you</p>
                </div>
                <div class="you-mess">
                 <p>The topics you </p>
             </div>
             <div class="sender-mess">
                 <figure>
                     <img src="images/Ellipse 1.png" alt="">
                 </figure>
                 <div class="sender-mess-bx">
                     <p>The topics you choose will help us suggest the courses suitable to you</p>
                 </div>
             </div>
             </div>
    <!-- <div class="send-messagebx">
                                    <div class="file-upload">
                                        <figure>
                                            <img src="images/doc-upload.png" alt="">
                                            <input type="file">
                                        </figure>
                                    </div>
                                    <div class="write-message">
                                        <input type="text">
                                        <figure><img src="assets/images/auth/send-icon.png" alt=""></figure>
                                    </div>
                                </div> -->
                                <div class="chat-message clearfix">
                                    <textarea name="message" type="text"></textarea>
                                    <button class="send"><img src="assets/images/attachment-icon.png" alt=""></button>
                                  <!-- <button class="po"><img src="assets/images/png/happy.png" alt=""></button> -->
                                  <button class="atta"><img src="assets/images/Subtraction 8.png" alt=""
                                     >
                                    <input type="file"  multiple>
                                  </button>
                                  <!-- <button><img src="assets/images/png/Subtraction 8.png" alt=""></button> -->
                                
                                </div>
           </div>

        <!-- <div class="btn-outer mt-40">
          <button class="btn btn-primary" routerLink="/auth/chat">Send</button>
          (click)="WhatsEmailid()"
        </div> -->
       </div>
  
    </div>
  </div>