<div class="auth-main d-flex">
	<div class="auth-img">
		<login-svg-image></login-svg-image>
	</div>
	<div class="auth-form">
		<div class="auth-logo">
			<figure><img src="assets/images/nav-logo.png" alt=""></figure>
		</div>
		<div class="d-flex auth-title">
			<h3 class="auth-title__h3">Sign up</h3>
			<p class="auth-link__title" routerLink="/auth/login">Login</p>
		</div>
		<div class="auth-form-bx">
			<div class="input-bxx mb-0">
				<figure class="input-icon">
					<img src="assets/images/auth/mob-icon.png" alt="">
				</figure>
				<mat-form-field class="example-full-width" appearance="fill">
					<input matInput placeholder="Phone Number" value="Sushi">
				</mat-form-field>
			</div>
			<div class="btn-outer mt-40">
				<button class="btn btn-primary" routerLink="/auth/activate">Sign up</button>
			</div>
		</div>
	</div>
</div>