.noti-success {
    background-color: #cbe6c7;
}
.noti-danger {
    background-color:#eac7c7;  
}
.text-header {
    font-size: 18px;
    color: #000000;
    font-weight: 500;
    line-height: 32px;
}
.text-message {
    line-height: 22px;
    font-size: 15px;
}