<div class="notification-page">
	<div class="conta-iner">
		<h2>Notifications</h2>
		<ng-container *ngIf="notificationList.length > 0; else noDataFound">
			<ul>
				<li class="cursor-pointer" [class.noti-success]="noti.status == 'Completed'" [class.noti-danger]="noti.status == 'Rejected'" *ngFor="let noti of notificationList" (click)="goToDetails(noti)">
					<p class="text-header">{{ noti?.notification?.title }}</p>
					<p class="text-message">{{ noti?.notification?.message }}</p>
					<span class="date-text">{{ noti?.notification?.created_at | date : 'MMM dd, yyyy, hh:mm a' }}</span>
				</li>
			</ul>
			<mat-paginator [length]="length" (page)="onPageChange($event)" [pageSize]="limit" aria-label="Select page">
			</mat-paginator>
		</ng-container>
		<ng-template #noDataFound>
			<p style="text-align: center; font-size: 16px; padding-top: 50px;">No notifications yet.</p>
		</ng-template>
	</div>
</div>