<div class="auth-main d-flex">
    <div class="auth-img">
     <figure>
         <img src="assets/images/auth/email-img.png" alt="">
     </figure>
    </div>
    <div class="auth-form">
        <div class="auth-logo">
            <figure><img src="assets/images/nav-logo.png" alt=""></figure>
        </div>
       <div class="d-flex auth-title">
         <h3 class="auth-title__h3">Verify account <span class="d-block">
            Set your transaction pin to continue
         </span></h3>
       </div>
       <div class="auth-form-bx">
        <div class="input-bxx pos-rel">
            <figure class="input-icon">
              <!-- <img src="assets/images/auth/pass-icon.png" alt=""> -->
            </figure>
           <mat-form-field class="example-full-width" appearance="fill">
             <input matInput placeholder="Enter Transaction Pin">
           </mat-form-field>
          
          </div>
           <p class="theme-color text-center py-10"  routerLink="/pages/verify-account">Continue with phone number</p>
         <!-- <div class="input-bxx mb-0">
         
         </div> -->
        <div class="btn-outer mt-40">
          <button class="btn btn-primary" routerLink="/pages/Congratulations">Submit</button>
          <!-- (click)="SetupPasswordDialog()" -->
        </div>
       </div>
    </div>
  </div>