<div class="wd-body mt-40">
    <h3 class="tp-head pb-20">
        My Portfolio
    </h3>
    <ul>
        <li *ngFor="let withdraw of withdrawRequests" routerLink="/dashboard/buy/{{ withdraw?.currency?.id }}">
            <div class="wb-box">
                <figure>
                    <img style="height: 70px;
                    width: 70px;
                    object-fit: cover;" src="{{ baseUrl + withdraw?.currency?.logo?.media_file }}">
                </figure>
                <h5>{{ withdraw?.currency?.name }}</h5>
                <p><span>Balance</span>{{ (withdraw?.balance)?(withdraw?.balance | number : '0.2'): '0.00' }}</p>
            </div>
        </li>
    </ul>
</div>