<footer class="y-space">
    <div class="conta-iner">
        <div class="footer__flex d-flex">
            <div class="footer__card">
                <a *ngIf="this.userInfo" class="navbar-brand" [routerLink]="['/dashboard']">
                    <img src="assets/images/auth/footer-logo.png" alt="logo">
                </a>
                <a *ngIf="!this.userInfo" class="navbar-brand" [routerLink]="['/landingpage']">
                    <img src="assets/images/auth/footer-logo.png" alt="logo">
                </a>

                <!-- <figure><img src="assets/images/auth/footer-logo.png" alt="logo"></figure> -->

                <ul class="d-flex social-media">
                    <li><a href=""><img src="assets/images/linkdin.png" alt=""></a></li>
                    <li><a href=""><img src="assets/images/twitter.png" alt=""></a></li>
                    <li><a href=""><img src="assets/images/facebook.png" alt=""></a></li>
                </ul>
            </div>
            <div class="footer__card">
                <h3>Main Menu</h3>
                
                <a [routerLink]="['/landingpage']">Home</a>
                <a [routerLink]="['/about_us']">About us</a>
                <a [routerLink]="['/features']">Features</a>
                <a *ngIf="!userInfo" [routerLink]="['/auth']">Login/Signup</a>
                <a [routerLink]="['/partners']">Partners</a>
            </div>
            <div class="footer__card">
                <h3>Our Company</h3>
                <a [routerLink]="['/privacy_policy']">Privacy policy</a>
                <a [routerLink]="['/terms_conditon']">Terms and Conditions</a>
                <a [routerLink]="['/contact_us']">Contact Us</a>
            </div>
            <div class="footer__card">
                <h3>Address</h3>
                <address>
                    <div> {{ _common.cmsData?.address }}</div>
                    <!-- <div>VIC3000,US</div> -->
                    <div> {{ _common.cmsData?.email }}</div>
                    <div> {{ _common.cmsData?.phone_no }}</div>
                </address>
            </div>
        </div>
    </div>
</footer>