<footer class="y-space">
    <div class="conta-iner">
        <div class="footer__flex d-flex">
            <div class="footer__card">
                <a *ngIf="this.userInfo" class="navbar-brand" [routerLink]="['/dashboard']">
                    <img src="assets/images/auth/footer-logo.png" alt="logo">
                </a>
                <a *ngIf="!this.userInfo" class="navbar-brand" [routerLink]="['/landingpage']">
                    <img src="assets/images/auth/footer-logo.png" alt="logo">
                </a>

                <!-- <figure><img src="assets/images/auth/footer-logo.png" alt="logo"></figure> -->

                <ul class="d-flex social-media">
                <li><a href="javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a></li> 
                <li><a href="javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a></li> 
                <!-- <li><a href="javascript:void(0)"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>  -->
                <li><a href="javascript:void(0)"><i class="fa fa-medium" aria-hidden="true"></i></a></li> 
                <li><a href="javascript:void(0)"><i class="fa fa-instagram" aria-hidden="true"></i></a></li> 
                <li><a href="javascript:void(0)"><i class="fa fa-reddit" aria-hidden="true"></i></a></li>         
                </ul>
                <address>
                    <div> {{ _common.cmsData?.address }}</div>
                    <!-- <div>VIC3000,US</div> -->                  
                </address>
            </div>
            <div class="footer__card">
                <h3>Main Menu</h3>
                
                <a [routerLink]="['/landingpage']">Home</a>
                <a [routerLink]="['/about_us']">About us</a>
                <a *ngIf="!userInfo" [routerLink]="['/auth']">Login/Signup</a>
            </div>
            <div class="footer__card">
                <h3>Contact Us</h3>
                <a href="mailto:{{ _common.cmsData?.email }}"><i class="fa fa-envelope" aria-hidden="true"></i>
                    {{ _common.cmsData?.email }}</a>
                <a href="https://wa.me/:{{ _common.cmsData?.phone_no }}" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i> {{ _common.cmsData?.phone_no }}</a>  
                <a href="https://telegram.me/{{ _common.cmsData?.phone_no }}" target="_blank"><i class="fa fa-telegram" aria-hidden="true"></i>
                    {{ _common.cmsData?.telegram_phone_number }}</a>               
            </div>
            <div class="footer__card">
                <h3>Our Company</h3>
                <a [routerLink]="['/companyType']">Features</a>
                <a [routerLink]="['/companyType']">Download</a>
                <a [routerLink]="['/companyType']">Security</a>
                <a [routerLink]="['/companyType']">Fee</a>
            </div>
            <div class="footer__card">
                <h3>Terms</h3>
                <a [routerLink]="['/content']">Privacy policy</a>
                <a [routerLink]="['/content']">Terms of Service</a>
                <a href="javascript:void(0)">Cookies Service</a>
                <a href="javascript:void(0)">AML</a>
                <a href="javascript:void(0)">KYC</a>
            </div>
        </div>
    </div>
</footer>