::ng-deep .withdrawcurrency-boxes {
    justify-content: space-between;
    mat-form-field {
        .mat-form-field-prefix {
            margin-right: 10px !important;
        }
        .mat-form-field-wrapper {
            background: #fff !important;
        }
        // width: 48% !important;
        .fa-dollar {
            background: #404040;
            padding: 5px 9px;
            border-radius: 50%;
            color: white;
        }
    }
}

.code-num  {
    display: flex;
    justify-content: space-between;
    width: 49%;
    border-bottom: 1px solid #8e8e8e;
    padding: 4px 12px 4px 0px;
    align-items: center;
    border-radius: 0px;
    input {
        background:  transparent;
        border : none !important;
        &:focus {
            box-shadow: none !important;
        }
    }
}

#barcode {
    max-width: 500px !important;
    // height: 90px !important;
}

#barcode-div { 
    background: white;
    position: relative;
    display: inline-block;
    // border: solid 4px #000;
    // padding:  4px 6px;
    // border-radius: 4px;
}
#barcode-top-left {
    &:after {
        content: "";
        position: absolute;
        top: -4px;
        background: black;
        width: 25px;
        height: 4px;
        border-radius: 10px;
        left: 0px;   
    }
    &::before {
        content: "";
        position: absolute;
        top: 0px;
        background: black;
        width: 4px;
        height: 25px;
        border-radius: 10px;
        left: -4px;  
    }
    position: absolute;
    height: 25px;
    width: 25px;
    border-top: 4px solid black;
    z-index: 5;
    border-left: 4px solid black;
    border-radius: 4px;
    left: -10px;
    top: -7px;
} 
#barcode-top-right {
    position: absolute;
    height: 25px;
    width: 25px;
    border-top: 4px solid black;
    z-index: 5;
    border-right: 4px solid black;
    border-radius: 4px;
    right: -10px;
    top: -7px;
    &:after {
        content: "";
        position: absolute;
        top: -4px;
        background: black;
        width: 25px;
        height: 4px;
        border-radius: 10px;
        right: 0px;   
    }
    &::before {
        content: "";
        position: absolute;
        top: 0px;
        background: black;
        width: 4px;
        height: 25px;
        border-radius: 10px;
        right: -4px;  
    }
} 

#barcode-bottom-left {
    position: absolute;
    height: 25px;
    width: 25px;
    border-bottom: 4px solid black;
    z-index: 5;
    border-left: 4px solid black;
    border-radius: 4px;
    left: -10px;
    bottom: -7px;
    &:after {
        content: "";
        position: absolute;
        bottom: -4px;
        background: black;
        width: 25px;
        height: 4px;
        border-radius: 10px;
        left: 0px;   
    }
    &::before {
        content: "";
        position: absolute;
        bottom: 0px;
        background: black;
        width: 4px;
        height: 25px;
        border-radius: 10px;
        left: -4px;  
    }
} 

#barcode-bottom-right {
    position: absolute;
    height: 25px;
    width: 25px;
    border-bottom: 4px solid black;
    z-index: 5;
    border-right: 4px solid black;
    border-radius: 4px;
    right: -10px;
    bottom: -7px;
    &:after {
        content: "";
        position: absolute;
        bottom: -4px;
        background: black;
        width: 25px;
        height: 4px;
        border-radius: 10px;
        right: 0px;   
    }
    &::before {
        content: "";
        position: absolute;
        bottom: 0px;
        background: black;
        width: 4px;
        height: 25px;
        border-radius: 10px;
        right: -4px;  
    }
} 