<h3 class="tp-head pb-20 text-center">
	Deposit {{ balanceDetails?.currency?.name }}
</h3>
<div class="wd-main" [formGroup]="addCashForm">
	<h3 class="tp-head py-10">
		Enter the amount
	</h3>
	<div class="d-flex withdrawcurrency-boxes">
		<mat-form-field class="example-full-width" appearance="fill">
			<input currencyMask [options]="{ prefix: '', precision : 10, nullable :  true, inputMode : temp.NATURAL}"   matInput type="text" min="0.01" formControlName="bitamount" placeholder="Enter the amount">
			<span matPrefix>
				<figure>
					<img  style=" width: 27px; height: 27px; object-position: center; object-fit: contain; border-radius: 50%;" src="{{ baseUrl + balanceDetails?.currency?.logo?.media_file }}" alt="">
				</figure>
			</span>
			<mat-error *ngIf="addCashForm.get('bitamount')?.hasError('required')">
				Please enter an amount.
			</mat-error>
			<mat-error *ngIf="addCashForm.get('bitamount')?.hasError('min')">
				Amount should be at least 0.01;
			</mat-error>
		</mat-form-field>

		<mat-form-field class="example-full-width" appearance="fill">
			<input currencyMask readonly [options]="{ prefix: '' }" matInput type="text" min="0.01" formControlName="amount"  placeholder="Enter the amount">
			<span matPrefix>
				<figure>
					<i class="fa fa-dollar"></i>
				</figure>
			</span>
			<mat-error *ngIf="addCashForm.get('amount')?.hasError('required')">
				Please enter an amount.
			</mat-error>
			<mat-error *ngIf="addCashForm.get('amount')?.hasError('min')">
				Amount should be at least 0.01;
			</mat-error>
		</mat-form-field>
	</div>

	<zxing-scanner style="height: 200px; width: 100%;"></zxing-scanner>


	
	<!-- <p class="fee">
		Fee : {{ addCashForm.get('service_fee').value }} NGN
	</p> -->
	<div class="wallet-address">
		<h3 class="tp-head py-10">
			Wallet address
		</h3>
		<div class="d-flex withdrawcurrency-boxes">
			<mat-form-field style="width: 100% !important;" class="example-full-width" appearance="fill">
				<input matInput type="text" formControlName="to_wallet" placeholder="Enter the wallet">
				<span matPrefix>
					<figure><img src="assets/images/copy1.png" alt=""></figure>
				</span>
				<mat-error *ngIf="addCashForm.get('to_wallet')?.hasError('required')">
					Please enter wallet address.
				</mat-error>
			</mat-form-field>			
		</div>
		<p class="fee mb-5" style="display: flex; justify-content: space-between;">
			<span>
				Available : {{ (balanceDetails?.balance)?(balanceDetails?.balance | number : '0.2-6') : '0.00' }} crypto
			</span>
			<span>
				Max : {{ (balanceDetails?.balance)?(balanceDetails?.balance | number : '0.2-6') : '0.00' }} crypto
			</span>
		</p>
		<p style="color: #4bc3ed;">Notes:</p>
		<ul class="mb-2">
			<li>Ensure that the address is correct and on the same network.</li>
			<li>Transaction can not be cancelled.</li>
		</ul>
		<div class="btn-outer w-100">
			<button class="btn btn-primary" (click)="submitDetails()">
				Submit
			</button>
		</div>
	</div>
</div>