.code-num {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    input {
        width: 80%;
        border: none;
        background: transparent;
        padding: 0px;
        font-size: 19px;
        font-weight: 600;
        color: #404040 !important;
        &:focus {
            box-shadow: none;
        }
    }
    img {
        width: 20px;
    }
}
p.bank_name {
    color: #404040 !important;
}