<div class="form-by">
    <div class="input-bxx">
        <mat-form-field class="example-full-width" appearance="fill">
            <input matInput placeholder="Enter the amount ">
        </mat-form-field>
    </div>
    <!--  -->
    <div class="input-bxx mb-0 pos-rel">
        <mat-form-field class="example-full-width" appearance="fill">
            <input matInput placeholder="Attach Payment Proof">
        </mat-form-field>
        <figure class="pass-icon pos-rel">
            <input type="file" class="attachment">
            <img src="assets/images/attachment-icon.png" alt="">
        </figure>
    </div>
    <!--  -->
</div>
<!--  -->
<div class="admin-body pt-20">
    <h3 class="tp-head pb-20">
        Admin's Account
    </h3>
    <div class="d-flex bank-name mb-10">
        <figure><img src="assets/images/auth/address.png" alt=""></figure>
        Citi Bank
    </div>
    <div class="bank-account mb-20">
        <p>Account holder name <span>Coinswell Pvt. Ltd.</span></p>
        <p>Account Number <span>1256289898785662</span></p>
    </div>
    <div>
        <h3 class="tp-head pb-20">
            Payment Instructions
        </h3>
        <div class="Instructions">
            <p>1. Deposit the amount on the above given bank account using any means of
                transfer.
            </p>
            <p>2. Upload the transaction proof.</p>
        </div>
    </div>
    <div class="btn-outer m-auto w-100 pt-20">
        <button class="btn btn-primary" routerLink="/Congratulations">Submit</button>
    </div>
</div>