<h3 class="tp-head" style="    display: flex;
justify-content: space-between;
align-items: center;">
	Refer and earn
	<button class="btn btn-primary" [routerLink]="['/dashboard/my-earnings']" style="width: 200px;">My Earnings</button>
</h3>
<div class="form-bx mt-40">
	<div>
		
		<div class="Refer-earn">
			<h3>Earn NGN {{ referAmount }} on every referral</h3>
			<p>To start earning, invite a friend to register and trade at least NGN {{ referAmount }}.</p>
			<figure class="text-center">
				<img src="assets/images/refer.png" alt="">
			</figure>
			<div class="invite">
				<h4>Invite Code</h4>
				<div class="code">
					<div class="code-num">
						<input type="text" readonly class="form-control my-input" id="myInput" value="{{ referCode }}">
						<figure (click)="copyText()" class="cursor-pointer">
							<img src="assets/images/copy3.png" alt="">
						</figure>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>