<div class="body_wrapper contn_show_wrap mb-5">
	<div class="conta-iner pt-60">
		<section class="ab-sec">
			<div class="conta_iner">
				<!-- <div class="tab-sec-layout">
					<nav mat-tab-nav-bar class="mb-5">
						<a mat-tab-link [routerLink]="['privacy_policy']" (click)="link = 'privacy_policy'" [active]="link == 'privacy_policy'">Privacy policy
						</a>
						<a mat-tab-link [routerLink]="['about_us']" (click)="link = 'about_us'"
							[active]="link == 'about_us'">About Us
						</a>
						<a mat-tab-link [routerLink]="['terms_conditon']" (click)="link = 'terms_conditon'" [active]="link == 'terms_conditon' || link == 'terms_conditon'">Terms and Conditions 
						</a>
						<a mat-tab-link [routerLink]="['cookies']" (click)="link = 'cookies'" [active]="link == 'cookies' || link == 'cookies'">Cookies Service 
						</a>
                        <a mat-tab-link [routerLink]="['aml_kyc']" (click)="link = 'aml_kml'" [active]="link == 'aml_kml' || link == 'aml_kml'">AML/KYC
						</a>
					</nav>
					<div class=""></div>
				</div> -->


				<div class="cms_pgs_mndv">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li class="nav-item">
							<a class="nav-link" [class.active]="link == 'features'" data-toggle="tab" href="#features" role="tab">Features</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" [class.active]="link == 'download'" data-toggle="tab" href="#downlaod" role="tab">Download</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" [class.active]="link == 'security'" data-toggle="tab" href="#security" role="tab">Security</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" [class.active]="link == 'fee'" data-toggle="tab" href="#fee" role="tab">Fee</a>
						</li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
						<div class="tab-pane" [class.active]="link == 'features'" id="features" role="features">
							<div class="cons_cms_outr">
								<div class="cons_cms_hdmn">
									<h2>Features</h2>
								</div>
								<div class="cms_pgs_mndv_lst_updte">
									<p>Date of latest version: 5 Sept, 2021</p>
								</div>
								<div class="cons_cms_mn">
									<h2>What is Lorem Ipsum?</h2>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
										Ipsum has been the industry's standard dummy text ever since the 1500s, when an
										unknown printer took a galley of type and scrambled it to make a type specimen
										book. </p>
									<h2>Why do we use it?</h2>
									<p>It is a long established fact that a reader will be distracted by the readable
										content of a page when looking at its layout. The point of using Lorem Ipsum is
										that it has a more-or-less normal distribution of letters, as opposed to using
										'Content here, </p>
									<h2>Where does it come from?</h2>
									<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots
										in a piece of classical Latin literature from 45 BC, making it over 2000 years
										old. Richard McClintock, a Latin professor at Hampden-Sydney College in
										Virginia, looked up one of the more obscure Latin words, consectetur, from a
										Lorem Ipsum passage, and going through the cites of the word in classical
										literature, discovered the undoubtable source. Lorem Ipsum comes from sections
										1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and
										Evil) by Cicero</p>
									<ol>
										<li>There are many variations of passages of Lorem Ipsum available</li>
										<li>There are many variations of passages of Lorem Ipsum available</li>
										<li>There are many variations of passages of Lorem Ipsum available</li>
										<li>There are many variations of passages of Lorem Ipsum available</li>
									</ol>
									<h2>Where can I get some?</h2>
									<ul>
										<li>There are many variations of passages of Lorem Ipsum available</li>
										<li>There are many variations of passages of Lorem Ipsum available</li>
										<li>There are many variations of passages of Lorem Ipsum available</li>
										<li>There are many variations of passages of Lorem Ipsum available</li>
										<li>There are many variations of passages of Lorem Ipsum available</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="tab-pane" [class.active]="link == 'download'" id="downlaod" role="downlaod">
							<div class="cons_cms_outr">
								<div class="cons_cms_hdmn">
									<h2>Download</h2>
								</div>
								<!-- <div class="cms_pgs_mndv_lst_updte"><p>Date of latest version: 5 Sept, 2021</p></div> -->
								<div class="cons_cms_mn app_">
									<div class="cms_pgs_kmldwonloads">
										<div class="cms_pgs_kmldwonloads_lft">
											<figure><img src="assets/images/app_designfordownlad.png" alt="Image">
											</figure>
										</div>
										<div class="cms_pgs_kmldwonloads_rgt">
											<h3>Where does it come from?</h3>
											<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has
												roots in a piece of classical Latin literature from 45 BC, making it
												over 2000 years old. Richard McClintock, a Latin professor at
												Hampden-Sydney College</p>
											<div class="cms_pgs_kmldwonloads_appicon">
												<a href="#">
													<figure><img src="assets/images/apple.png" alt="Icon"></figure>
												</a>
												<a href="#">
													<figure><img src="assets/images/playstore.png" alt="Icon"></figure>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane" [class.active]="link == 'security'"id="security" role="security">
							<div class="cons_cms_outr">
								<div class="cons_cms_hdmn">
									<h2>Security</h2>
								</div>
								<div class="cms_pgs_mndv_lst_updte">
									<p>Date of latest version: 5 Sept, 2021</p>
								</div>
								<div class="cons_cms_mn">
									<div class="cms_pgs_kmlkyc">
										<ul class="d-flex">
											<li>
												<div class="cms_pgs_kmlkyc_lst">
													<figure><img src="assets/images/encrption_newicon.svg" alt="Icon">
													</figure>
													<div class="cms_pgsbx_innr">
														<h3>Encryptions</h3>
														<p>Contrary to popular belief, Lorem Ipsum is not simply random
															text. It has roots in a piece of classical</p>
													</div>
												</div>
											</li>
											<li>
												<div class="cms_pgs_kmlkyc_lst">
													<figure><img src="assets/images/transaction_pin_icon.svg"
															alt="Icon"></figure>
													<div class="cms_pgsbx_innr">
														<h3>Transaction Pin</h3>
														<p>Contrary to popular belief, Lorem Ipsum is not simply random
															text. It has roots in a piece of classical</p>
													</div>
												</div>
											</li>
											<li>
												<div class="cms_pgs_kmlkyc_lst">
													<figure><img src="assets/images/fa_auth_newico.svg" alt="Icon">
													</figure>
													<div class="cms_pgsbx_innr">
														<h3>2FA</h3>
														<p>Contrary to popular belief, Lorem Ipsum is not simply random
															text. It has roots in a piece of classical</p>
													</div>
												</div>
											</li>
											<li>
												<div class="cms_pgs_kmlkyc_lst">
													<figure><img src="assets/images/cold_storage_newicon.svg"
															alt="Icon"></figure>
													<div class="cms_pgsbx_innr">
														<h3>Cold Storage</h3>
														<p>Contrary to popular belief, Lorem Ipsum is not simply random
															text. It has roots in a piece of classical</p>
													</div>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane" [class.active]="link == 'fee'" id="fee" role="fee">
							<div class="cons_cms_outr">
								<div class="cons_cms_hdmn">
									<h2>Fee</h2>
								</div>
								<div class="cms_pgs_mndv_lst_updte">
									<p>Date of latest version: 5 Sept, 2021</p>
								</div>
								<div class="cons_cms_mn">
									<div class="cms_pgs_kmlkyc">
										<ul class="d-flex">
											<li>
												<div class="cms_pgs_kmlkyc_lst">
													<figure><img src="assets/images/withdrawlfeenewicon.svg" alt="Icon">
													</figure>
													<div class="cms_pgsbx_innr">
														<h3>Withdrawal Fee</h3>
														<p>Contrary to popular belief, Lorem Ipsum is not simply random
															text. It has roots in a piece of classical</p>
													</div>
												</div>
											</li>
											<li>
												<div class="cms_pgs_kmlkyc_lst">
													<figure><img src="assets/images/dpostie_fee_newicon.svg" alt="Icon">
													</figure>
													<div class="cms_pgsbx_innr">
														<h3>Deposit Fee</h3>
														<p>Contrary to popular belief, Lorem Ipsum is not simply random
															text. It has roots in a piece of classical</p>
													</div>
												</div>
											</li>
											<li>
												<div class="cms_pgs_kmlkyc_lst">
													<figure><img src="assets/images/buying_fee_newicon.svg" alt="Icon">
													</figure>
													<div class="cms_pgsbx_innr">
														<h3>Buying Fee</h3>
														<p>Contrary to popular belief, Lorem Ipsum is not simply random
															text. It has roots in a piece of classical</p>
													</div>
												</div>
											</li>
											<li>
												<div class="cms_pgs_kmlkyc_lst">
													<figure><img src="assets/images/sellingfee_newicon.svg" alt="Icon">
													</figure>
													<div class="cms_pgsbx_innr">
														<h3>Selling Fee</h3>
														<p>Contrary to popular belief, Lorem Ipsum is not simply random
															text. It has roots in a piece of classical</p>
													</div>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>


			</div>
		</section>
	</div>
</div>