<div class="auth-main d-flex">
	<div class="auth-img">
		<login-svg-image></login-svg-image>
	</div>
	<div class="auth-form">
		<div class="auth-logo cursor-pointer" routerLink="/landingpage">
			<figure><img src="assets/images/nav-logo.png" alt=""></figure>
		</div>
		<div class="d-flex auth-title">
			<h3 class="auth-title__h3">Reset password
				<span class="d-block">
					Set your new password to access your account
				</span>
			</h3>
			<!-- <p class="auth-link__title" (click)=" signup()">Sign up</p> -->
		</div>
		<div class="auth-form-bx">
			<div class="input-bxx pos-rel">
				<figure class="input-icon">
					<img src="assets/images/auth/pass-icon.png" alt="">
				</figure>
				<mat-form-field class="example-full-width" appearance="fill">
					<input matInput placeholder="Enter new password">
				</mat-form-field>
				<figure class="pass-icon">
					<img src="assets/images/auth/pass-show.png" alt="">
				</figure>
			</div>
			<div class="input-bxx mb-0 pos-rel">
				<figure class="input-icon">
					<img src="assets/images/auth/pass-icon.png" alt="">
				</figure>
				<mat-form-field class="example-full-width" appearance="fill">
					<input matInput placeholder="Confirm new password">
				</mat-form-field>
				<figure class="pass-icon">
					<img src="assets/images/auth/pass-show.png" alt="">
				</figure>
			</div>
			<div class="btn-outer mt-40">
				<button class="btn btn-primary" routerLink="/auth/confirmaccount">Submit</button>
			</div>
		</div>
	</div>
</div>