<h3 class="tp-head pb-20 text-center">
	Add Bank Details
</h3>
<div class="pt-60">
	<div class="input-bxx">
		<figure class="input-icon">
			<img src="assets/images/auth/address.png" alt="">
		</figure>
		<mat-form-field class="example-full-width" appearance="fill">
			<input matInput placeholder="Bank Name">
		</mat-form-field>
	</div>
	<div class="input-bxx pos-rel">
		<figure class="input-icon">
			<img src="assets/images/auth/perfered-name.png" alt="">
		</figure>
		<mat-form-field class="example-full-width" appearance="fill">
			<input matInput placeholder="Account holder name">
		</mat-form-field>
	</div>
	<div class="input-bxx">
		<figure class="input-icon">
			<img src="assets/images/auth/address.png" alt="">
		</figure>
		<mat-form-field class="example-full-width" appearance="fill">
			<input matInput placeholder="Account number">
		</mat-form-field>
	</div>
	<div class="input-bxx">
		<figure class="input-icon">
			<img src="assets/images/auth/address.png" alt="">
		</figure>
		<mat-form-field class="example-full-width" appearance="fill">
			<input matInput placeholder="Confirm account number">
		</mat-form-field>
	</div>
	<div class="btn-outer mt-40 w-100">
		<button class="btn btn-primary" routerLink="/Congratulations">Submit</button>
	</div>
</div>