<div class="body_wrapper">

	<div class="conta-iner y-space">
		<div class="dashboard-table table-responsive">
			<table>
				<thead>
					<tr>
						<th>Currency</th>
						<th>We Buy</th>
						<th>We Sell</th>
						<!-- <th>Trend</th> -->
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<div class="cu-main">
								<figure>
									<img src="assets/images/auth/Group 185015.png">
								</figure>
								<p>BTC/Bitcoin</p>
							</div>
						</td>
						<td>$520.50</td>
						<td>$520.50</td>
						<!-- <td><i class="fa fa-caret-down mr-2" aria-hidden="true"></i>0.20%</td> -->
					</tr>
					<tr>
						<td>
							<div class="cu-main">
								<figure>
									<img src="assets/images/auth/Group 185015.png">
								</figure>
								<p>BTC/Bitcoin</p>
							</div>
						</td>
						<td>$520.50</td>
						<td>$520.50</td>
						<!-- <td><i class="fa fa-caret-down mr-2" aria-hidden="true"></i>0.20%</td> -->
					</tr>
					<tr>
						<td>
							<div class="cu-main">
								<figure>
									<img src="assets/images/auth/Group 185015.png">
								</figure>
								<p>BTC/Bitcoin</p>
							</div>
						</td>
						<td>$520.50</td>
						<td>$520.50</td>
						<!-- <td><i class="fa fa-caret-down mr-2" aria-hidden="true"></i>0.20%</td> -->
					</tr>
					<tr>
						<td>
							<div class="cu-main">
								<figure>
									<img src="assets/images/auth/Group 185015.png">
								</figure>
								<p>BTC/Bitcoin</p>
							</div>
						</td>
						<td>$520.50</td>
						<td>$520.50</td>
						<!-- <td><i class="fa fa-caret-down mr-2" aria-hidden="true"></i>0.20%</td> -->
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>