<div class="wd-main">
	<h3 class="tp-head py-10">
		Amount sent in dollars
	</h3>
	<div class="d-flex brdr-bt">
		<figure><img src="assets/images/bitt.png" alt="">BTC Value</figure>
		<figure><img src="assets/images/bitt1.png" alt="">USD Value </figure>
	</div>
	<p class="fee">
		Fee : 0.0023568 crypto
	</p>
	<div class="wallet-address">
		<h3 class="tp-head py-10">
			Wallet address
		</h3>
		<div class="cpy-text d-flex">
			<figure><img src="assets/images/copy1.png" alt=""></figure>
			<p>https://www.google.com/search?qF-8</p>
			<figure><img src="assets/images/copy2.png" alt=""></figure>
		</div>
		<p class="fee mb-5" style="display: flex;
		justify-content: space-between;">
			<span>
				Available : 0.0023568 crypto
			</span>
			<span>
				Max : 0.0023568 crypto
			</span>
		</p>
		<p style="color: #4bc3ed;">Notes:</p>
		<ul class="mb-2">
			<li>Ensure that the address is correct and on the same network.</li>
			<li>Transaction can not be cancelled.</li>
		</ul>
		<div class="btn-outer w-100">
			<button class="btn btn-primary" routerLink="/verify-account">
				Submit
			</button>
		</div>
	</div>
</div>