<div class="dp-top-main">
	<div class="dp-top">
		<div class="wallet-main">
			<div class="wallet-left">
				<figure>
					<img src="assets/images/auth/wallet.png">
				</figure>
			</div>
			<div class="wallet-right">
				<p>Balance</p>
			</div>
		</div>
		<h6>$450,933</h6>
	</div>
</div>
<div class="wd-main">
	<h3 class="tp-head py-10">
		Amount sent in dollars
	</h3>
	<div class="d-flex brdr-bt">
		<figure><img src="assets/images/bitt.png" alt="">BTC Value</figure>
		<figure><img src="assets/images/bitt1.png" alt="">USD Value </figure>
	</div>
	<p class="fee">
		Fee : 0.0023568 crypto
	</p>
	<div class="wallet-address">
		<h3 class="tp-head py-10">
			Wallet address
		</h3>
		<div class="cpy-text d-flex">
			<figure><img src="assets/images/copy1.png" alt=""></figure>
			<p>https://www.google.com/search?qF-8</p>
			<figure><img src="assets/images/copy2.png" alt=""></figure>
		</div>
		<div class="btn-outer w-100">
			<button class="btn btn-primary" routerLink="/verify-account">
				Submit
			</button>
		</div>
	</div>
</div>