<div class="dp-top-main">
    <div class="dp-top">
        <div class="wallet-main">
            <div class="wallet-left">
                <figure>
                    <img src="assets/images/auth/wallet.png">
                </figure>
            </div>

        </div>
        <div class="aviable-bal d-flex pt-20">
            <div>
                <h3>NGN Balance <span>
                        $1000
                    </span></h3>
            </div>
            <div>
                <h3> Crypto balance <span>
                        $10000
                    </span></h3>
            </div>


        </div>
        <!-- <h6>$450,933</h6> -->
    </div>
    <div class="cash-main">
        <ul>
            <li routerLink="/deposit-ngn">
                <figure>
                    <img src="assets/images/plus.svg">
                </figure>
                <p>Add Cash</p>
            </li>
            <li routerLink="/withdrawcryto">
                <figure>
                    <img src="assets/images/plus.svg">
                </figure>
                <p>Add Crypto</p>
            </li>
        </ul>
    </div>
</div>
<div class="wd-main">
    <mat-tab-group class="tab-sec-layout">
        <mat-tab label="Withdraw">
            <div class="wd-body mt-40">
                <h3 class="tp-head pb-20">
                    My Portfolio
                </h3>
                <ul>
                    <li routerLink="/deposit-ngn">
                        <div class="wb-box">
                            <figure>
                                <img src="assets/images/bit1.png">
                            </figure>
                            <h5>NGN/Local</h5>
                            <p>Balance</p>
                            <div class="d-flex bal-body">
                                <div class="bal">
                                    $250,245
                                </div>
                                <div class="live plus">
                                    <div class="text d-flex">
                                        <figure>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="5"
                                                viewBox="0 0 6 5">
                                                <path id="Polygon_2" data-name="Polygon 2" d="M3,0,6,5H0Z"
                                                    fill="#88e57e" />
                                            </svg>
                                        </figure>
                                        0.20%
                                    </div>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li routerLink="/withdrawcryto">
                        <div class="wb-box">
                            <figure>
                                <img src="assets/images/bit1.png">
                            </figure>
                            <h5>BTC/Bitcoin</h5>
                            <p>Balance</p>
                            <div class="d-flex bal-body">
                                <div class="bal">
                                    $250,245
                                </div>
                                <div class="live minus">
                                    <div class="text d-flex">
                                        <figure>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="5"
                                                viewBox="0 0 6 5">
                                                <path id="Polygon_2" data-name="Polygon 2" d="M3,0,6,5H0Z"
                                                    fill="#88e57e" />
                                            </svg>
                                        </figure>
                                        0.20%
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li routerLink="/withdrawcryto">
                        <div class="wb-box">
                            <figure>
                                <img src="assets/images/bit1.png">
                            </figure>
                            <h5>ETH/Etherium</h5>
                            <p><span>Balance</span>$250,245</p>
                        </div>
                    </li>
                    <li>
                        <div class="wb-box">
                            <figure>
                                <img src="assets/images/bit1.png">
                            </figure>
                            <h5>USDT/ ERC20</h5>
                            <p><span>Balance</span>$250,245</p>
                        </div>
                    </li>
                    <li>
                        <div class="wb-box">
                            <figure>
                                <img src="assets/images/bit1.png">
                            </figure>
                            <h5>XRP</h5>
                            <p><span>Balance</span>$250,245</p>
                        </div>
                    </li>
                </ul>
            </div>
        </mat-tab>
        <mat-tab label="Deposit">
            <div class="wd-body mt-40">
                <h3 class="tp-head pb-20">
                    My Portfolio
                </h3>
                <ul>

                    <li routerLink="/withdrawcryto">
                        <div class="wb-box">
                            <figure>
                                <img src="assets/images/45.png">
                            </figure>
                            <h5>BTC/Bitcoin</h5>
                            <p>Balance</p>
                            <div class="d-flex bal-body">
                                <div class="bal">
                                    $250,245
                                </div>
                                <div class="live minus">
                                    <div class="text d-flex">
                                        <figure>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="5"
                                                viewBox="0 0 6 5">
                                                <path id="Polygon_2" data-name="Polygon 2" d="M3,0,6,5H0Z"
                                                    fill="#88e57e" />
                                            </svg>
                                        </figure>
                                        0.20%
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li routerLink="/deposit-ngn">
                        <div class="wb-box">
                            <figure>
                                <img src="assets/images/bit1.png">
                            </figure>
                            <h5>NGN/Local</h5>
                            <p>Balance</p>
                            <div class="d-flex bal-body">
                                <div class="bal">
                                    $250,245
                                </div>
                                <div class="live plus">
                                    <div class="text d-flex">
                                        <figure>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="5"
                                                viewBox="0 0 6 5">
                                                <path id="Polygon_2" data-name="Polygon 2" d="M3,0,6,5H0Z"
                                                    fill="#88e57e" />
                                            </svg>
                                        </figure>
                                        0.20%
                                    </div>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li routerLink="/withdrawcryto">
                        <div class="wb-box">
                            <figure>
                                <img src="assets/images/bit1.png">
                            </figure>
                            <h5>ETH/Etherium</h5>
                            <p><span>Balance</span>$250,245</p>
                        </div>
                    </li>
                    <li>
                        <div class="wb-box">
                            <figure>
                                <img src="assets/images/bit1.png">
                            </figure>
                            <h5>USDT/ ERC20</h5>
                            <p><span>Balance</span>$250,245</p>
                        </div>
                    </li>
                    <li>
                        <div class="wb-box">
                            <figure>
                                <img src="assets/images/bit1.png">
                            </figure>
                            <h5>XRP</h5>
                            <p><span>Balance</span>$250,245</p>
                        </div>
                    </li>
                </ul>
            </div>
        </mat-tab>
        <mat-tab label="Sell">
            <div class="wd-body mt-40">
                <h3 class="tp-head pb-20">
                    My Portfolio
                </h3>
                <ul>
                    <li routerLink="/withdrawcryto">
                        <div class="wb-box">
                            <figure>
                                <img src="assets/images/eth.png">
                            </figure>
                            <h5>ETH/Etherium</h5>
                            <p>Balance</p>
                            <div class="d-flex bal-body">
                                <div class="bal">
                                    $250,245
                                </div>
                                <div class="live plus">
                                    <div class="text d-flex">
                                        <figure>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="5"
                                                viewBox="0 0 6 5">
                                                <path id="Polygon_2" data-name="Polygon 2" d="M3,0,6,5H0Z"
                                                    fill="#88e57e" />
                                            </svg>
                                        </figure>
                                        0.20%
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li routerLink="/deposit-ngn">
                        <div class="wb-box">
                            <figure>
                                <img src="assets/images/bit1.png">
                            </figure>
                            <h5>NGN/Local</h5>
                            <p>Balance</p>
                            <div class="d-flex bal-body">
                                <div class="bal">
                                    $250,245
                                </div>
                                <div class="live plus">
                                    <div class="text d-flex">
                                        <figure>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="5"
                                                viewBox="0 0 6 5">
                                                <path id="Polygon_2" data-name="Polygon 2" d="M3,0,6,5H0Z"
                                                    fill="#88e57e" />
                                            </svg>
                                        </figure>
                                        0.20%
                                    </div>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li routerLink="/withdrawcryto">
                        <div class="wb-box">
                            <figure>
                                <img src="assets/images/bit1.png">
                            </figure>
                            <h5>BTC/Bitcoin</h5>
                            <p>Balance</p>
                            <div class="d-flex bal-body">
                                <div class="bal">
                                    $250,245
                                </div>
                                <div class="live minus">
                                    <div class="text d-flex">
                                        <figure>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="5"
                                                viewBox="0 0 6 5">
                                                <path id="Polygon_2" data-name="Polygon 2" d="M3,0,6,5H0Z"
                                                    fill="#88e57e" />
                                            </svg>
                                        </figure>
                                        0.20%
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li routerLink="/withdrawcryto">
                        <div class="wb-box">
                            <figure>
                                <img src="assets/images/bit1.png">
                            </figure>
                            <h5>ETH/Etherium</h5>
                            <p><span>Balance</span>$250,245</p>
                        </div>
                    </li>
                    <li>
                        <div class="wb-box">
                            <figure>
                                <img src="assets/images/bit1.png">
                            </figure>
                            <h5>USDT/ ERC20</h5>
                            <p><span>Balance</span>$250,245</p>
                        </div>
                    </li>
                    <li>
                        <div class="wb-box">
                            <figure>
                                <img src="assets/images/bit1.png">
                            </figure>
                            <h5>XRP</h5>
                            <p><span>Balance</span>$250,245</p>
                        </div>
                    </li>
                </ul>
            </div>
        </mat-tab>
        <mat-tab label="Buy">
            <div class="wd-body mt-40">
                <h3 class="tp-head pb-20">
                    My Portfolio
                </h3>
                <ul>
                    <li routerLink="/deposit-ngn">
                        <div class="wb-box">
                            <figure>
                                <img src="assets/images/bit1.png">
                            </figure>
                            <h5>NGN/Local</h5>
                            <p>Balance</p>
                            <div class="d-flex bal-body">
                                <div class="bal">
                                    $250,245
                                </div>
                                <div class="live plus">
                                    <div class="text d-flex">
                                        <figure>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="5"
                                                viewBox="0 0 6 5">
                                                <path id="Polygon_2" data-name="Polygon 2" d="M3,0,6,5H0Z"
                                                    fill="#88e57e" />
                                            </svg>
                                        </figure>
                                        0.20%
                                    </div>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li routerLink="/withdrawcryto">
                        <div class="wb-box">
                            <figure>
                                <img src="assets/images/bit1.png">
                            </figure>
                            <h5>BTC/Bitcoin</h5>
                            <p>Balance</p>
                            <div class="d-flex bal-body">
                                <div class="bal">
                                    $250,245
                                </div>
                                <div class="live minus">
                                    <div class="text d-flex">
                                        <figure>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="5"
                                                viewBox="0 0 6 5">
                                                <path id="Polygon_2" data-name="Polygon 2" d="M3,0,6,5H0Z"
                                                    fill="#88e57e" />
                                            </svg>
                                        </figure>
                                        0.20%
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li routerLink="/withdrawcryto">
                        <div class="wb-box">
                            <figure>
                                <img src="assets/images/bit1.png">
                            </figure>
                            <h5>ETH/Etherium</h5>
                            <p><span>Balance</span>$250,245</p>
                        </div>
                    </li>
                    <li>
                        <div class="wb-box">
                            <figure>
                                <img src="assets/images/bit1.png">
                            </figure>
                            <h5>USDT/ ERC20</h5>
                            <p><span>Balance</span>$250,245</p>
                        </div>
                    </li>
                    <li>
                        <div class="wb-box">
                            <figure>
                                <img src="assets/images/bit1.png">
                            </figure>
                            <h5>XRP</h5>
                            <p><span>Balance</span>$250,245</p>
                        </div>
                    </li>
                </ul>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>