.tab-sec-layout {   
    .mat-tab-nav-bar, .mat-tab-header {
        border: navajowhite;
    }
    .mat-tab-link {
        color: #000;
        opacity: 1;
        padding: 14px 13px;
        background: #fff;
        min-width: 130px;
        text-align: center;
        border-radius: 8px;
        cursor: pointer;
        margin-right: 10px;
    }
    .mat-tab-link.mat-tab-label-active {
        background-color: #17C2EC !important;
        color: #fff;
    }
}