.ab-sec {
   h1{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
   } 
   .ab-image{
    width: 500px;
    margin: 0 auto;
    padding-top: 20px;
 }
 .ab-contant{
    padding-top: 40px;
    font-size: 16px;
    text-align: left;
    color: #6F6F76;
    font-weight: 400;
 }
}