<div class="body_wrapper">
	<!-- navbar -->
	<div class="conta-iner pt-60">
		<section class="ab-sec">
			<div class="conta_iner">
				<h1>About Us</h1>
				<!-- <figure class="ab-image"><img src="assets/img/About-img.png" alt="About-img"></figure> -->
				<div class="ab-contant">
					<p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
						the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
						of type and scrambled it to make a type specimen book. It has survived not only five centuries,
						but also the leap into electronic typesetting, remaining essentially unchanged. It was
						popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
						and more recently with desktop publishing software like Aldus PageMaker including versions of
						Lorem Ipsum</p><br>
					<p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
						the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
						of type and scrambled it to make a type specimen book. It has survived not only five centuries,
						but also the leap into electronic typesetting, remaining essentially unchanged. It was
						popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
						and more recently with desktop publishing software like Aldus PageMaker including versions of
						Lorem Ipsum</p>
				</div>
			</div>
		</section>
	</div>


	<!-- footer -->
	<footer class="y-space mt-60">
		<div class="conta-iner">
			<div class="footer__flex d-flex">
				<div class="footer__card">
					<figure><img src="assets/images/auth/footer-logo.png" alt="logo"></figure>
					<ul class="d-flex social-media">
						<li><a href=""><img src="assets/images/linkdin.png" alt=""></a></li>
						<li><a href=""><img src="assets/images/twitter.png" alt=""></a></li>
						<li><a href=""><img src="assets/images/facebook.png" alt=""></a></li>
					</ul>
				</div>
				<div class="footer__card">
					<h3>Main Menu</h3>
					<a href="">About us</a>
					<a href="">Features</a>
					<a href="">Login/Signup</a>
					<a href="">Partners</a>
				</div>
				<div class="footer__card">
					<h3>Our Company</h3>
					<a href="">Privacy policy</a>
					<a href="">Terms and Conditions</a>
					<a href="">Contact Us</a>
				</div>
				<div class="footer__card">
					<h3>Address</h3>
					<address>
						<div> 121 King St,</div>
						<div>VIC3000,US</div>
						<div> 888-123-42278</div>
						<div> Info@example.com</div>
					</address>
				</div>
			</div>
		</div>
	</footer>