<div class="auth-main d-flex">
	<div class="auth-img">
		<login-svg-image></login-svg-image>
	</div>
	<div class="auth-form">
		<div class="auth-logo">
			<figure><img src="assets/images/nav-logo.png" alt=""></figure>
		</div>
		<div class="d-flex auth-title">
			<h3 class="auth-title__h3">Transaction Pin <span class="d-block">
					Set your transaction pin to continue
				</span>
			</h3>
		</div>
		<form class="auth-form-bx my-forms" [formGroup]="transactionForm" (ngSubmit)="submitAllDetails()">
			<mat-form-field class="example-full-width" appearance="outline">
				<span matPrefix>
					<figure class="input-icon">
						<img src="assets/images/auth/address.png" alt="">
					</figure>
				</span>
				<input type="password" formControlName="transaction_pin" name="transaction_pin" matInput placeholder="Transaction pin">
				<mat-error *ngIf="!transactionForm.get('transaction_pin')?.hasError('removeSpaces') && transactionForm.get('transaction_pin')?.hasError('required')">
					Please enter transaction pin.
				</mat-error>

				<mat-error *ngIf="!transactionForm.get('transaction_pin')?.hasError('removeSpaces') && transactionForm.get('transaction_pin')?.hasError('maxlength')">
					Transaction pin must be 6 characters long.
				</mat-error>

				<mat-error *ngIf="!transactionForm.get('transaction_pin')?.hasError('removeSpaces') && transactionForm.get('transaction_pin')?.hasError('minlength')">
					Transaction pin must be 6 characters long.
				</mat-error>

				<mat-error *ngIf="transactionForm.get('transaction_pin')?.hasError('removeSpaces')">
					Spaces not allowed.
				</mat-error>
			</mat-form-field>

			<mat-form-field class="example-full-width" appearance="outline">
				<span matPrefix>
					<figure class="input-icon">
						<img src="assets/images/auth/address.png" alt="">
					</figure>
				</span>
				<input type="password" matInput formControlName="transaction_pin_confirm" name="transaction_pin_confirm" placeholder="Confirm transaction pin">
				<mat-error *ngIf="transactionForm.get('transaction_pin_confirm')?.hasError('required')">
					Please enter confirm transaction pin.
				</mat-error>

				<mat-error *ngIf="transactionForm.get('transaction_pin_confirm')?.hasError('mustMatch')">
					Confirm transaction pin does not match with transaction pin.
				</mat-error> 
			</mat-form-field>

			<div class="btn-outer mt-40">
				<div id="transaction-pin-set" class="border-plus">
					<button class="btn btn-primary" type="submit">Submit</button>
				</div>
			</div>
		</form>
	</div>
</div>