<h3 class="tp-head pb-20 text-center">
	Sell {{ balanceDetails?.currency?.name }}
</h3>
<form [(formGroup)]="addCashForm" (ngSubmit)="submitDetails()" *ngIf="this.transactionId == 1">
    <div class="currency-balance-block">
        <div class="local">
            <figure>
                <img src="{{ baseUrl + balanceDetails?.currency?.logo?.media_file }}" alt="">
            </figure>
            <span>{{ balanceDetails?.currency?.name }}</span>
        </div>
        <div class="balance">
            <p class="title">Balance</p>
            <p class="value">{{ (balanceDetails?.balance)?(balanceDetails?.balance | number : '0.2-2') : '0.00' }}</p>
        </div>
    </div>
    <p class="title-text">Enter the amount</p>
    <div class="form-by my-forms currency-boxes">
        <mat-form-field class="example-full-width" appearance="fill">
            <input currencyMask [options]="{ prefix: ' ' }" matInput type="text" min="0.01" formControlName="amount" placeholder="Enter the amount">
            <span matPrefix>
                <figure>
                    <i class="fa fa-dollar"></i>
                </figure>
            </span>
            <mat-error *ngIf="addCashForm.get('amount')?.hasError('required')">
                Please enter an amount.
            </mat-error>
            <mat-error *ngIf="addCashForm.get('amount')?.hasError('min')">
                Amount should be at least 0.01;
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <input currencyMask readonly  [options]="{ prefix: '', precision : 5 }" matInput type="text" min="0.01" formControlName="bitamount" placeholder="Enter the amount">
            <span matPrefix>
                <figure>
                    <img  style="width: 27px; height: 27px; object-position: center; object-fit: contain; border-radius: 50%;" src="{{ baseUrl + balanceDetails?.currency?.logo?.media_file }}" alt="">
                </figure>
            </span>
            <mat-error *ngIf="addCashForm.get('bitamount')?.hasError('required')">
                Please enter an amount.
            </mat-error>
            <mat-error *ngIf="addCashForm.get('bitamount')?.hasError('min')">
                Amount should be at least 0.01;
            </mat-error>
        </mat-form-field>
       
        <mat-form-field class="example-full-width" appearance="fill">
            <input currencyMask [options]="{ prefix: '' }" matInput type="text" min="0.01" formControlName="ngnamount" readonly placeholder="Enter the amount">
            <span matPrefix>
                <i class="fa">₦</i>    
            </span>
            <mat-error *ngIf="addCashForm.get('ngnamount')?.hasError('required')">
                Please enter an amount.
            </mat-error>
            <mat-error *ngIf="addCashForm.get('ngnamount')?.hasError('min')">
                Amount should be at least 0.01;
            </mat-error>
        </mat-form-field>
    </div>
    <p style="font-size: 16px; padding-left: 13px !important;" *ngIf="addCashForm.get('amount').value <= 500">Service Fee : {{ service_fee }} NGN</p>
    <div class="exchange-rate-section">
        <p class="title">Rate : {{ sellRate | number : '0.2-2' }}</p>
        <h3>1 BTC = {{ bitcoin_to_usd | number : '0.2-2' }} USD ({{ bitcoin_to_usd * sellRate | number : '0.2-2' }} NGN)</h3>
    </div>
    <div class="admin-body pt-20">
        <div class="btn-outer m-auto w-100 pt-20">
            <div id="add-cash-button">
                <button class="btn btn-primary" type="submit">Confirm</button>
            </div>
        </div>
    </div>
</form>


<form [(formGroup)]="addCashForm" (ngSubmit)="submitDetails()" *ngIf="this.transactionId == 2">
    <div class="currency-balance-block">
        <div class="local">
            <figure>
                <img src="{{ baseUrl + balanceDetails?.currency?.logo?.media_file }}" alt="">
            </figure>
            <span>{{ balanceDetails?.currency?.name }}</span>
        </div>
        <div class="balance">
            <p class="title">Balance</p>
            <p class="value">{{ (balanceDetails?.balance)?(balanceDetails?.balance | number : '0.2-2') : '0.00' }}</p>
        </div>
    </div>
    <p class="title-text">Enter the amount</p>
    <div class="form-by my-forms currency-boxes">
        <mat-form-field class="example-full-width" appearance="fill">
            <input currencyMask  [options]="{ prefix: '' }" matInput type="text" min="0.01" formControlName="amount" placeholder="Enter the amount">
            <span matPrefix>
                <figure>
                    <i class="fa fa-dollar"></i>
                </figure>
            </span>
            <mat-error *ngIf="addCashForm.get('amount')?.hasError('required')">
                Please enter an amount.
            </mat-error>
            <mat-error *ngIf="addCashForm.get('amount')?.hasError('min')">
                Amount should be at least 0.01;
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <input currencyMask [options]="{ prefix: '' }" matInput type="text" min="0.01" formControlName="ngnamount" readonly placeholder="Enter the amount">
            <span matPrefix>
                <i class="fa">₦</i>    
            </span>
            <mat-error *ngIf="addCashForm.get('ngnamount')?.hasError('required')">
                Please enter an amount.
            </mat-error>
            <mat-error *ngIf="addCashForm.get('ngnamount')?.hasError('min')">
                Amount should be at least 0.01;
            </mat-error>
        </mat-form-field>
    </div>
    <p *ngIf="addCashForm.get('amount').value <= 500" style="font-size: 16px; padding-left: 13px !important;">Service Fee : {{ service_fee }} NGN</p>
    <div class="exchange-rate-section">
        <p class="title">Rate : {{ sellRate | number : '0.2-2' }}</p>
    </div>
    <div class="admin-body pt-20">
        <div class="btn-outer m-auto w-100 pt-20">
            <div id="add-cash-button">
                <button class="btn btn-primary" type="submit">Confirm</button>
            </div>
        </div>
    </div>
</form>


<form [(formGroup)]="addCashForm" (ngSubmit)="submitDetails()" *ngIf="this.transactionId == 3 || this.transactionId == 4">
    <div class="currency-balance-block">
        <div class="local">
            <figure>
                <img src="{{ baseUrl + balanceDetails?.currency?.logo?.media_file }}" alt="">
            </figure>
            <span>{{ balanceDetails?.currency?.name }}</span>
        </div>
    </div>
    <p class="title-text">Enter the amount</p>
    <div class="form-by my-forms currency-boxes">
        <mat-form-field class="example-full-width" appearance="fill">
            <input currencyMask  [options]="{ prefix: '' }" matInput type="text" min="0.01" formControlName="amount" placeholder="Enter the amount">
            <span matPrefix>
                <figure>
                    <i class="fa fa-dollar"></i>
                </figure>
            </span>
            <mat-error *ngIf="addCashForm.get('amount')?.hasError('required')">
                Please enter an amount.
            </mat-error>
            <mat-error *ngIf="addCashForm.get('amount')?.hasError('min')">
                Amount should be at least 0.01;
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <input currencyMask [options]="{ prefix: '' }" matInput type="text" min="0.01" formControlName="ngnamount" readonly placeholder="Enter the amount">
            <span matPrefix>
                <i class="fa">₦</i>    
            </span>
            <mat-error *ngIf="addCashForm.get('ngnamount')?.hasError('required')">
                Please enter an amount.
            </mat-error>
            <mat-error *ngIf="addCashForm.get('ngnamount')?.hasError('min')">
                Amount should be at least 0.01;
            </mat-error>
        </mat-form-field>
    </div>
    <mat-form-field appearance="fill" class="w-100 bg-white">
        <ngx-mat-file-input placeholder="Select proof" [formControl]="addCashForm.get('tempImage')" (focus)="addCashForm.get('tempImage').markAllAsTouched()" [multiple]="false" accept="image/*">
        </ngx-mat-file-input>
        <mat-error *ngIf="addCashForm.get('tempImage')?.hasError('required')">
            Please select a proof.
        </mat-error>
    </mat-form-field>
    <!-- to_wallet -->
    <div class="wallet-address currency-boxes">
		<h3 class="tp-head py-10">
			Wallet address
		</h3>
		<div class="d-flex withdrawcurrency-boxes">
            <div class="code-num">
                <input type="text" readonly="" value="867765456456" id="myInput" class="form-control my-input" value="{{ walletAddress?.address }}">
                <figure class="cursor-pointer" (click)="copyText()">
                    <img src="assets/images/copy3.png" alt="">
                </figure>
            </div>
				
		</div>
        <p *ngIf="addCashForm.get('amount').value <= 500 && transactionId == 3" style="font-size: 16px;padding-left: 13px !important;">Service Fee : {{ service_fee }} NGN</p>
        <div class="exchange-rate-section">
            <p class="title">Rate : {{ sellRate | number : '0.2-2' }}</p>
        </div>
		<p style="color: #4bc3ed;">Notes:</p>
		<ul class="mb-2">
			<li>Ensure that the address is correct and on the same network.</li>
			<li>Transaction can not be cancelled.</li>
		</ul>
    </div>
    <div class="admin-body pt-20">
        <div class="btn-outer m-auto w-100 pt-20">
            <div id="add-cash-button">
                <button class="btn btn-primary" type="submit">Confirm</button>
            </div>
        </div>
    </div>
</form>

